<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic page needs
		============================================ -->
    <title>{{{title}}} | Walindwa</title>
    <meta charset="utf-8">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!-- Mobile specific metas
		============================================ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Favicon
		============================================ -->
    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- Google web fonts
		============================================ -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:500,700,600,800,400' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600,700' rel='stylesheet'
        type='text/css'>

    <!-- Vendor CSS
		============================================ -->
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="stylesheet" href="fonts/demo-files/demo.css">
    <link rel="stylesheet" href="plugins/fancybox/helpers/jquery.fancybox-buttons.css">
    <link rel="stylesheet" href="plugins/fancybox/helpers/jquery.fancybox-thumbs.css">
    <link rel="stylesheet" href="plugins/fancybox/jquery.fancybox.css">
    <link rel="stylesheet" href="plugins/owl-carousel/assets/owl.carousel.css">

    <!-- CSS theme files
		============================================ -->
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/style.css">

    <!-- Old IEs
		============================================ -->
    <!--[if lte IE9]>
			<link rel="stylesheet" href="css/oldie.css">
		<![endif]-->
</head>

<body>

  <div id="preloader" class="gt-preloader"></div>
		
		<!-- - - - - - - - - - - - - - Layout - - - - - - - - - - - - - - - - -->

		<div class="gt-wide-layout-type">
    {{> main/header }}

    {{{ body }}}

    {{> main/footer }}

    </div>


    <!-- JS Libs & Plugins
		============================================ -->
    <script src="js/libs/modernizr.js"></script>
    <script src="js/libs/jquery-2.2.1.js"></script>
    <script src="js/libs/retina.min.js"></script>
    <script src="js/libs/handlebars-v4.0.5.js"></script>

    <script src="plugins/jquery.parallax-1.1.3.js"></script>
    <script src="plugins/wt.validator.js"></script>
    <script src="plugins/jquery.appear.min.js"></script>
    <script src="plugins/jquery.easing.1.3.js"></script>
    <script src="plugins/isotope.pkgd.min.js"></script>
    <script src="plugins/owl-carousel/owl.carousel.min.js"></script>
    <script src="plugins/twitter/jquery.tweet.min.js"></script>
    <script src="plugins/instafeed.min.js"></script>
    <script src="plugins/jquery.mousewheel.min.js"></script>
    <script src="plugins/mad.customselect.js"></script>
    <script src="plugins/fancybox/jquery.fancybox.pack.js"></script>
    <script src="plugins/fancybox/helpers/jquery.fancybox-thumbs.js"></script>
    <script src="plugins/fancybox/helpers/jquery.fancybox-buttons.js"></script>
    <script src="plugins/fancybox/helpers/jquery.fancybox-media.js"></script>
    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>

    <!-- JS theme files
		============================================ -->
    <script src="js/gatsby.core.js"></script>
    <script src="js/gatsby.plugins.js"></script>
</body>

</html>