<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7TJJYWTD5F"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-7TJJYWTD5F');
</script>

    <!-- Basic page needs
		============================================ -->
    <title>{{{title}}} | Walindwa</title>
    <meta charset="utf-8">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!-- Mobile specific metas
		============================================ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Favicon
		============================================ -->
    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- Google web fonts
		============================================ -->
    {{!-- <link href='https://fonts.googleapis.com/css?family=Raleway:500,700,600,800,400' rel='stylesheet' type='text/css'> --}}
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600,700' rel='stylesheet'
        type='text/css'>

    <!-- Vendor CSS
		============================================ -->
    <link rel="stylesheet preload" href="css/reset.css" as="style">
    <link rel="stylesheet preload" href="css/bootstrap.min.css" as="style">
    <link rel="stylesheet preload" href="css/font-awesome.min.css" as="style">
    <link async rel="stylesheet preload" href="css/linea-icons-basic.css" as="style">
    <link async rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="stylesheet preload" href="fonts/demo-files/demo.css" as="style">
    <link async rel="stylesheet" href="plugins/fancybox/helpers/jquery.fancybox-buttons.css">
    <link async rel="stylesheet" href="plugins/fancybox/helpers/jquery.fancybox-thumbs.css">
    <link async rel="stylesheet" href="plugins/fancybox/jquery.fancybox.css">
    <link async rel="stylesheet" href="plugins/owl-carousel/assets/owl.carousel.css">

    <!-- CSS theme files
		============================================ -->
    <link rel="stylesheet preload" href="css/animate.css" as="style">
    {{#unless headLink}}
    <link rel="stylesheet preload" href="css/style.css" as="style">
    {{/unless}}

    {{#if headLink}}
    {{{headLink}}}  
    {{/if}}

    <!-- Old IEs
		============================================ -->
    <!--[if lte IE9]>
			<link rel="stylesheet" href="css/oldie.css">
		<![endif]-->
</head>

<body>

  <div id="preloader" class="gt-preloader"></div>
		
		<!-- - - - - - - - - - - - - - Layout - - - - - - - - - - - - - - - - -->

		<div class="gt-wide-layout-type">
    {{> main/header }}

    {{{ body }}}

    {{> main/footer }}

    </div>


    <!-- JS Libs & Plugins
		============================================ -->
    <script src="js/libs/modernizr.js"></script>
    <script rel="preload" src="js/libs/jquery-2.2.1.js" as="script"></script>
    <script src="js/libs/retina.min.js"></script>
    {{!-- <script rel="preload" src="js/libs/handlebars-v4.0.5.js" as="script"></script> --}}

    <script src="plugins/jquery.parallax-1.1.3.js"></script>
    <script src="plugins/wt.validator.js"></script>
    <script src="plugins/jquery.appear.min.js"></script>
    <script src="plugins/jquery.easing.1.3.js"></script>
    <script rel="preload" src="plugins/isotope.pkgd.min.js" as="script"></script>
    <script rel="preload" src="plugins/owl-carousel/owl.carousel.min.js" as="script"></script>
    {{!-- <script src="plugins/twitter/jquery.tweet.min.js"></script> --}}
    <script src="plugins/jquery.mousewheel.min.js"></script>
    <script src="plugins/mad.tabs.js"></script>
    <script src="plugins/mad.customselect.js"></script>
    <script src="plugins/fancybox/jquery.fancybox.pack.js"></script>
    <script src="plugins/fancybox/helpers/jquery.fancybox-thumbs.js"></script>
    <script src="plugins/fancybox/helpers/jquery.fancybox-buttons.js"></script>
    <script src="plugins/fancybox/helpers/jquery.fancybox-media.js"></script>
    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>

    <!-- JS theme files
		============================================ -->
    <script rel="preload" src="js/gatsby.core.js" as="script"></script>
    <script rel="preload" src="js/gatsby.plugins.js" as="script"></script>

    {{#if bodyJs}}
    {{{bodyJs}}}
    {{/if}}
</body>

</html>