<!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

			<div class="gt-breadcrumbs-wrap" data-bg="images/breadcrumbs_img_3.jpg">

				<h1 class="gt-page-title">Team Members</h1>

				<ul class="gt-breadcrumbs">

					<li><a href="index.html">Home</a></li>
					<li>Team Members</li>

				</ul>

			</div>

			<!-- - - - - - - - - - - - - - End of Breadcrumbs - - - - - - - - - - - - - - - - -->

			<!-- - - - - - - - - - - - - - Page Content - - - - - - - - - - - - - - - - -->

			<div class="gt-page-content-wrap gt-no-sidebar gt-no-top-offset gt-no-bottom-offset">

				<div class="container">

					<div class="row">

						<div class="col-xs-12">

							<!-- - - - - - - - - - - - - - Page Section - - - - - - - - - - - - - - - - -->

							<section class="gt-section gt-size-3">

								{{!-- <main class="gt-content-element">

									<blockquote class="gt-blockquote gt-type-3">
										<p>The most dangerous poison is the feeling of achievement. The antidote is to every evening think what can be done better tomorrow.</p>
									</blockquote>

									<p>Carrot cake gingerbread sugar plum jujubes. Chocolate bar gummi bears topping lemon drops soufflé biscuit gummi bears pie. Gummi bears brownie lollipop cheesecake. Liquorice sweet roll caramels brownie pastry bonbon sesame snaps. Candy jelly-o tootsie roll carrot cake. Carrot cake apple pie candy canes chupa chups chocolate cake chocolate chupa chups carrot cake.</p>

									<p>Toffee cake dessert wafer chocolate bar apple pie cookie ice cream. Lemon drops apple pie caramels sugar plum tiramisu. Croissant gummies sweet roll tootsie roll donut. Biscuit donut biscuit wafer chocolate cake jelly. Cookie donut bear claw. Tart lollipop cupcake wafer oat cake chocolate bar ice cream. Fruitcake oat cake toffee chocolate croissant. Pudding chocolate bar marzipan chocolate bar caramels marshmallow sugar plum ice cream.</p>

								</main> --}}

								<div class="gt-content-element">

									<h2>Meet Our Board</h2>

									<!-- - - - - - - - - - - - - - Team Holder - - - - - - - - - - - - - - - - -->

									<div class="gt-team-holder gt-type-1 gt-cols-3">



                                        {{#each boardMembers.data}}
                                        {{> about/board}}
                                        {{/each }}

									</div>

									<!-- - - - - - - - - - - - - - End of Team Holder - - - - - - - - - - - - - - - - -->

								</div>

							</section>

							<!-- - - - - - - - - - - - - - End of Page Section - - - - - - - - - - - - - - - - -->

							<!-- - - - - - - - - - - - - - Call Out Style 1 - - - - - - - - - - - - - - - - -->

							<section class="gt-call-out gt-content-element gt-fullwidth-section-bg" data-fullwidth-bg="images/call_out_bg_6.jpg">

								<div class="gt-t-row">

									<div class="col-md-8 col-sm-7">

										<h3>Looking for an exceptional quality?<br>You’ve got it.</h3>

									</div>

									<div class="col-md-4 col-sm-5">

										<div class="align-right">

											<a href="#" class="gt-btn-3 gt-large">Buy Now</a>

										</div><!--/ .align-right -->

									</div>

								</div><!--/ .gt-t-row -->

							</section>

							<!-- - - - - - - - - - - - - - End of Call Out Style 1 - - - - - - - - - - - - - - - - -->

						</div><!--/ .col -->

					</div><!--/ .row -->

				</div><!--/ .container -->

			</div>

			<!-- - - - - - - - - - - - - - End of Page Content - - - - - - - - - - - - - - - - -->