{{> main/breadcrumb breadcrumbTitle=this.title}}

<!-- - - - - - - - - - - - - - Page Content - - - - - - - - - - - - - - - - -->

<div class="gt-page-content-wrap gt-no-sidebar">

    <div class="container">

        <div class="row">

            <div class="col-xs-12">

                <!-- - - - - - - - - - - - - - Entries Holder - - - - - - - - - - - - - - - - -->

                <div class="gt-entries-holder gt-cols-1 gt-type-4 gt-small-thumbs">

                    {{#each blogEntries}}
                    {{> updates/blog}}
                    {{/each}}
                </div>

                <!-- - - - - - - - - - - - - - End of Entries Holder - - - - - - - - - - - - - - - - -->

            </div>

        </div>
        <!--/ .row -->

    </div>
    <!--/ .container -->

</div>

<!-- - - - - - - - - - - - - - End of Page Content - - - - - - - - - - - - - - - - -->