<div class="gt-page-content-wrap gt-no-sidebar">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="gt-content-element">


                    <!-- - - - - - - - - - - - - - Carousel Style 4 - - - - - - - - - - - - - - - - -->

                    <div class="owl-carousel owl-large-nav gt-entries-holder gt-type-1 gt-cols-3">

                        <div class="gt-col">

                            {{#each photo}}

                            {{#each photos}}

                            {{log this}}

                            <!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->

                            <article class="gt-entry gt-image-entry-format">

                                <!-- - - - - - - - - - - - - - Attachment - - - - - - - - - - - - - - - - -->

                                <div class="gt-entry-attachment">

                                    <a class="gt-thumbnail-attachment" href="blog_single_without_sidebar.html"><img
                                            src="https://admin.moreleft.com{{url}}" alt=""></a>

                                </div>

                                <!-- - - - - - - - - - - - - - End of Attachment - - - - - - - - - - - - - - - - -->

                                <!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->

                                <div class="gt-entry-body">

                                    <ul class="gt-entry-cats">
                                        <li><a href="#">Business</a></li>
                                    </ul>

                                    <h6 class="gt-entry-title"><a href="blog_single_without_sidebar.html">Why a
                                            Visual<br>Really is Worth 1,000 Words</a></h6>

                                </div>

                                <!-- - - - - - - - - - - - - - End of Entry body - - - - - - - - - - - - - - - - -->

                            </article>

                            <!-- - - - - - - - - - - - - - End of Entry - - - - - - - - - - - - - - - - -->

                            {{/each}}
                            {{/each}}


                        </div>
                        <!--/ .gt-col -->



                    </div>

                    <!-- - - - - - - - - - - - - - End of Carousel Style 4 - - - - - - - - - - - - - - - - -->





                </div>
            </div>
        </div>
    </div>

</div>