{{> main/breadcrumb currentTitle=title}}


			<!-- - - - - - - - - - - - - - Page Content - - - - - - - - - - - - - - - - -->

			<div class="gt-page-content-wrap gt-no-top-offset gt-no-bottom-offset gt-no-sidebar">

				<div class="container">

					<div class="row">

						<div class="col-xs-12">

							<!-- - - - - - - - - - - - - - Page Section - - - - - - - - - - - - - - - - -->

							<div class="gt-section gt-size-3">

								<div class="gt-content-element">

									<p>Toffee cake dessert wafer chocolate bar apple pie cookie ice cream. Lemon drops apple pie caramels sugar plum tiramisu. Croissant gummies sweet roll tootsie roll donut. Biscuit donut biscuit wafer chocolate cake jelly. Cookie donut bear claw. Tart lollipop cupcake wafer oat cake chocolate bar ice cream. Fruitcake oat cake toffee chocolate croissant. Pudding chocolate bar marzipan chocolate bar caramels marshmallow sugar plum ice cream.</p>

								</div>

								<div class="gt-content-element">

									<div class="row">

										<div class="col-sm-7">

											<!-- - - - - - - - - - - - - - Contact Form - - - - - - - - - - - - - - - - -->

											<form action="https://formspree.io/mrgyywab" method="POST" class="gt-contact-form" novalidate>

												<ul>

													<li class="row">

														<div class="col-sm-6">

															<label for="cf-name">Your Name</label>

															<div class="gt-input-wrapper">

																<input type="text" name="cf_name" id="cf-name">

															</div><!--/ .gt-input-wrapper -->

														</div>

														<div class="col-sm-6">

															<label for="cf-email">Your E-mail</label>

															<div class="gt-input-wrapper">

																<input type="email" name="cf_email" id="cf-email">

															</div><!--/ .gt-input-wrapper -->

														</div>

													</li>

													{{!-- <li class="row">

														<div class="col-sm-6">

															<label for="cf-service">Service</label>

															<div class="gt-input-wrapper">

																<div class="gt-custom-select gt-type-2">

																	<select name="cf_service" id="cf-service">

																		<option value="Content Marketing">Content Marketing</option>
																		<option value="Prototyping">Prototyping</option>
																		<option value="Motion design">Motion design</option>
																		<option value="Web design">Web design</option>
																		<option value="Photography">Photography</option>

																	</select>

																</div><!--/ .gt-custom-select -->

															</div><!--/ .gt-input-wrapper -->

														</div>

														<div class="col-sm-6">

															<label for="cf-phone">Your Phone Number</label>

															<div class="gt-input-wrapper">

																<input type="text" name="cf_phone" id="cf-phone">

															</div><!--/ .gt-input-wrapper -->

														</div>

													</li> --}}

													<li class="row">

														<div class="col-xs-12">

															<label for="cf-message">Your Message</label>

															<div class="gt-input-wrapper">

																<textarea rows="6" id="cf-message" name="cf_message"></textarea>

															</div><!--/ .gt-input-wrapper -->

														</div>

													</li>

													<li class="row">

														{{!-- <div class="col-sm-6">

															<label for="cf-service">Captcha</label>

															<div class="gt-input-wrapper">

																<div class="gt-custom-select gt-type-2">

																	<select name="cf_service" id="cf-service">

																		<option value="Content Marketing">Content Marketing</option>
																		<option value="Prototyping">Prototyping</option>
																		<option value="Motion design">Motion design</option>
																		<option value="Web design">Web design</option>
																		<option value="Photography">Photography</option>

																	</select>

																</div><!--/ .gt-custom-select -->

															</div><!--/ .gt-input-wrapper -->

														</div> --}}

														{{!-- <div class="col-sm-6">

															<label for="cf-phone">Captcha</label>

															<div class="gt-input-wrapper">

																<input type="text" name="cf_phone" id="cf-phone">

															</div><!--/ .gt-input-wrapper -->

														</div> --}}

													</li>

													<li class="row">

														<div class="col-xs-12">

															<div class="align-right">
														
																<button class="gt-btn-3 gt-large gt-shadow">Send Message</button>

															</div>

														</div>

													</li>

												</ul>

											</form>

											<!-- - - - - - - - - - - - - - End of Contact Form - - - - - - - - - - - - - - - - -->

										</div>

										<div class="col-sm-5">

											<!-- - - - - - - - - - - - - - Contact Info - - - - - - - - - - - - - - - - -->

											<ul class="gt-info-list">

												<li>
														
													<div class="gt-item-name">Address</div>
													<p>P.O. Box 270024<br>San Diego, CA 92198-2404</p>

												</li>

												<li>
														
													<div class="gt-item-name">Phone</div>
													<p>(858) 487-4056</p>

												</li>

												{{!-- <li>
														
													<div class="gt-item-name">Fax</div>
													<p>+1-929-290-4711</p>

												</li> --}}

												<li>
														
													<div class="gt-item-name">E-mail</div>
													<p><a href="mailto:walindwa@walindwa.org">walindwa@walindwa.org</a></p>

												</li>

											</ul>

											<!-- - - - - - - - - - - - - - End of Contact Info - - - - - - - - - - - - - - - - -->

										</div>

									</div><!--/ .row -->

								</div>

							</div>

							<!-- - - - - - - - - - - - - - End of Page Section - - - - - - - - - - - - - - - - -->

							<!-- - - - - - - - - - - - - - Page Section - - - - - - - - - - - - - - - - -->

							{{!-- <div class="gt-content-element gt-fullwidth-section">

								<div class="gt-gmap" id="gt-gmap"></div>

							</div> --}}

							<!-- - - - - - - - - - - - - - End of Page Section - - - - - - - - - - - - - - - - -->

						</div><!--/ .col -->

					</div><!--/ .row -->

				</div><!--/ .container -->

			</div>

			<!-- - - - - - - - - - - - - - End of Page Content - - - - - - - - - - - - - - - - -->
