<div id="preloader" class="gt-preloader"></div>
		
		<!-- - - - - - - - - - - - - - Layout - - - - - - - - - - - - - - - - -->

		<div class="gt-wide-layout-type">

			<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
					Header wrapper. Only for demo (loading header types
					via styleswitcher), can be removed in pdoruction version
		    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

			<div class="gt-header-wrap">

			<!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->

			<header id="header" class="gt-header gt-type-8 gt-transparent">

				<!-- - - - - - - - - - - - - - Header Top Bar - - - - - - - - - - - - - - - - -->

				<div class="gt-top-bar">
					
					<div class="gt-t-row">

						<div class="col-sm-10">
						
							<!-- - - - - - - - - - - - - - Contact Info - - - - - - - - - - - - - - - - -->

							<ul class="gt-contact-info">

								<li><span class="lnr lnr-phone-handset"></span>7 - 345 - 993 - 9455</li>

								<li><span class="lnr lnr-envelope"></span> <a href="mailto:%6d%61%69%6c%40gat&#115;&#98;y&#46;com">mail@gatsby.com</a></li>

								<li><span class="licon-clock3"></span> Mon - Sat 8.00 - 18.00. Sunday CLOSED</li>

								<li><span class="licon-map-marker"></span> 257 Fifth Avenue, 34th floor New York, NY 1018-3299 USA </li>
																	
							</ul>

							<!-- - - - - - - - - - - - - - End of Contact Info - - - - - - - - - - - - - - - - -->

						</div>

						<div class="col-sm-2">
							
							<!-- - - - - - - - - - - - - - Social Links - - - - - - - - - - - - - - - - -->

							<ul class="gt-social-icons align-right">

								<li><a title="LinkedIn" href="#"><i class="fa fa-linkedin"></i></a></li>

								<li><a title="Facebook" href="#"><i class="fa fa-facebook"></i></a></li>

								<li><a title="Twitter" href="#"><i class="fa fa-twitter"></i></a></li>

								<li><a title="Instagram" href="#"><i class="fa fa-instagram"></i></a></li>
									
							</ul>

							<!-- - - - - - - - - - - - - - End of Social Links - - - - - - - - - - - - - - - - -->

						</div>

					</div><!--/ .gt-t-row -->

				</div>

				<!-- - - - - - - - - - - - - - End of Header Top Bar - - - - - - - - - - - - - - - - -->

				<!-- - - - - - - - - - - - - - Header Section - - - - - - - - - - - - - - - - -->

				<div class="gt-hs-medium">

					<div class="gt-t-row">

						<div class="col-sm-2">

							<!-- - - - - - - - - - - - - - Logo - - - - - - - - - - - - - - - - -->

							<a href="index.html" class="gt-logo">
								
								<img src="images/logo.png" alt="">

							</a>

							<!-- - - - - - - - - - - - - - End of Logo - - - - - - - - - - - - - - - - -->

						</div>

						<div class="col-sm-10">

							<div class="align-right">

								<!-- - - - - - - - - - - - - - Navigation - - - - - - - - - - - - - - - - -->

								<nav class="gt-nav-wrap">

									<ul class="gt-navigation">

										<li class="gt-has-submenu gt-current">

											<a href="index.html">Home</a>

											<!-- - - - - - - - - - - - - - Submenu (level 2) - - - - - - - - - - - - - - - - -->

											<div class="gt-dropdown">

												<ul class="gt-submenu">

													<li><a href="index.html">Agency</a></li>
													<li class="gt-current"><a href="home_v2.html">Consulting</a></li>
													<li><a href="home_v3.html">Shop</a></li>
													<li><a href="home_v8.html">Shop v2</a></li>
													<li><a href="home_v4.html">App Showcase</a></li>
													<li><a href="home_v5.html">Personal</a></li>
													<li><a href="home_v6.html">Portfolio</a></li>
													<li><a href="home_v7.html">Photography</a></li>

												</ul>

											</div>

											<!-- - - - - - - - - - - - - - End of Submenu (level 2) - - - - - - - - - - - - - - - - -->

										</li>

										<li class="gt-has-submenu">

											<a href="pages_about.html">Pages</a>

											<!-- - - - - - - - - - - - - - Submenu (level 2) - - - - - - - - - - - - - - - - -->

											<div class="gt-dropdown">

												<ul class="gt-submenu">

													<li><a href="pages_about.html">About</a></li>
													<li><a href="pages_team.html">Team</a></li>
													<li><a href="pages_team_member.html">Team member</a></li>
													<li><a href="pages_services.html">Services</a></li>
													<li><a href="pages_contact.html">Contact</a></li>
													<li><a href="pages_coming_soon_v1.html">Coming soon page 1</a></li>
													<li><a href="pages_coming_soon_v2.html">Coming soon page 2</a></li>
													<li><a href="pages_coming_soon_v3.html">Coming soon page 3</a></li>
													<li><a href="pages_coming_soon_v4.html">Coming soon page 4</a></li>
													<li><a href="pages_coming_soon_v5.html">Coming soon page 5</a></li>
													<li><a href="pages_404_v1.html">404 page 1</a></li>
													<li><a href="pages_404_v2.html">404 page 2</a></li>
													<li><a href="pages_404_v3.html">404 page 3</a></li>

												</ul>

											</div>

											<!-- - - - - - - - - - - - - - End of Submenu (level 2) - - - - - - - - - - - - - - - - -->

										</li>

										<li class="gt-has-megamenu">

											<a href="elements_accordions_and_toggles.html">Elements</a>

											<!-- - - - - - - - - - - - - - Submenu (level 2) - - - - - - - - - - - - - - - - -->

											<div class="gt-dropdown">

												<ul class="gt-submenu">

													<li><a href="elements_accordions_and_toggles.html">Accordions and toggles</a></li>
													<li><a href="elements_allert_boxes_and_callouts.html">Alert boxes and callouts</a></li>
													<li><a href="elements_buttons.html">Buttons</a></li>
													<li><a href="elements_carousel_sliders.html">Carousel sliders</a></li>
													<li><a href="elements_columns.html">Columns</a></li>
													<li><a href="elements_counters.html">Counters</a></li>
													<li><a href="elements_dropcaps.html">Dropcaps</a></li>

												</ul>

												<ul class="gt-submenu">
													
													<li><a href="elements_forms.html">Forms</a></li>
													<li><a href="elements_icon_boxes.html">Icon boxes</a></li>
													<li><a href="elements_image_positions.html">Image positions</a></li>
													<li><a href="elements_lists.html">Lists</a></li>
													<li><a href="elements_pagination_and_dividers.html">Pagination and dividers</a></li>
													<li><a href="elements_pricing_tables.html">Pricing tables</a></li>
													<li><a href="elements_progress_bars.html">Progress bars</a></li>

												</ul>

												<ul class="gt-submenu">

													<li><a href="RTL/index.html">RTL layout</a></li>
													<li><a href="elements_tables.html">Tables</a></li>
													<li><a href="elements_tabs_and_tour_sections.html">Tabs and tour sections</a></li>
													<li><a href="elements_testimonials.html">Testimonials</a></li>
													<li><a href="elements_typography.html">Typography</a></li>

												</ul>

											</div>

											<!-- - - - - - - - - - - - - - End of Submenu (level 2) - - - - - - - - - - - - - - - - -->

										</li>

										<li class="gt-has-submenu">

											<a href="portfolio_classic_2_columns.html">Portfolio</a>
											
											<!-- - - - - - - - - - - - - - Submenu (level 2) - - - - - - - - - - - - - - - - -->

											<div class="gt-dropdown">

												<ul class="gt-submenu">

													<li class="gt-has-submenu">

														<a href="portfolio_classic_2_columns.html">Classic</a>

														<!-- - - - - - - - - - - - - - Submenu (level 3) - - - - - - - - - - - - - - - - -->

														<div class="gt-dropdown">

															<ul class="gt-submenu">

																<li><a href="portfolio_classic_2_columns.html">2 Columns</a></li>
																<li><a href="portfolio_classic_3_columns.html">3 Columns</a></li>

															</ul>

														</div>

														<!-- - - - - - - - - - - - - - End of Submenu (level 3) - - - - - - - - - - - - - - - - -->

													</li>

													<li class="gt-has-submenu">

														<a href="portfolio_masonry_v1_2_columns.html">Masonry v1</a>

														<!-- - - - - - - - - - - - - - Submenu (level 3) - - - - - - - - - - - - - - - - -->

														<div class="gt-dropdown">

															<ul class="gt-submenu">

																<li><a href="portfolio_masonry_v1_2_columns.html">2 Columns</a></li>
																<li><a href="portfolio_masonry_v1_3_columns.html">3 Columns</a></li>

															</ul>

														</div>

														<!-- - - - - - - - - - - - - - End of Submenu (level 3) - - - - - - - - - - - - - - - - -->

													</li>

													<li><a href="portfolio_masonry_v2.html">Masonry v2</a></li>

													<li class="gt-has-submenu">

														<a href="portfolio_fw_3_columns.html">Full width grid</a>

														<!-- - - - - - - - - - - - - - Submenu (level 3) - - - - - - - - - - - - - - - - -->

														<div class="gt-dropdown">

															<ul class="gt-submenu">

																<li><a href="portfolio_fw_3_columns.html">3 Columns</a></li>
																<li><a href="portfolio_fw_4_columns.html">4 Columns</a></li>
																<li><a href="portfolio_fw_5_columns_without_spacing.html">5 Columns without spacing</a></li>

															</ul>

														</div>

														<!-- - - - - - - - - - - - - - End of Submenu (level 3) - - - - - - - - - - - - - - - - -->

													</li>

													<li><a href="portfolio_single.html">Single portfolio post</a></li>

												</ul>

											</div>

											<!-- - - - - - - - - - - - - - End of Submenu (level 2) - - - - - - - - - - - - - - - - -->

										</li>

										<li class="gt-has-submenu">

											<a href="blog_masonry_v1_3_columns.html">Blog</a>
											
											<!-- - - - - - - - - - - - - - Submenu (level 2) - - - - - - - - - - - - - - - - -->

											<div class="gt-dropdown">

												<ul class="gt-submenu">

													<li class="gt-has-submenu">

														<a href="blog_masonry_v1_3_columns.html">Masonry v1</a>

														<!-- - - - - - - - - - - - - - Submenu (level 3) - - - - - - - - - - - - - - - - -->

														<div class="gt-dropdown">

															<ul class="gt-submenu">

																<li><a href="blog_masonry_v1_3_columns.html">3 Columns</a></li>
																<li><a href="blog_masonry_v1_3_columns_left_sidebar.html">3 Columns with left sidebar</a></li>
																<li><a href="blog_masonry_v1_3_columns_right_sidebar.html">3 Columns with right sidebar</a></li>
																<li><a href="blog_masonry_v1_4_columns.html">4 Columns</a></li>

															</ul>

														</div>

														<!-- - - - - - - - - - - - - - End of Submenu (level 3) - - - - - - - - - - - - - - - - -->

													</li>

													<li class="gt-has-submenu">

														<a href="blog_masonry_v2_3_columns.html">Masonry v2</a>

														<!-- - - - - - - - - - - - - - Submenu (level 3) - - - - - - - - - - - - - - - - -->

														<div class="gt-dropdown">

															<ul class="gt-submenu">

																<li><a href="blog_masonry_v2_3_columns.html">3 Columns</a></li>
																<li><a href="blog_masonry_v2_3_columns_left_sidebar.html">3 Columns with left sidebar</a></li>
																<li><a href="blog_masonry_v2_3_columns_right_sidebar.html">3 Columns with right sidebar</a></li>
																<li><a href="blog_masonry_v2_4_columns.html">4 Columns</a></li>

															</ul>

														</div>

														<!-- - - - - - - - - - - - - - End of Submenu (level 3) - - - - - - - - - - - - - - - - -->

													</li>

													<li class="gt-has-submenu">

														<a href="blog_big_thumbs_1_column_left_sidebar.html">Big thumbnails</a>

														<!-- - - - - - - - - - - - - - Submenu (level 3) - - - - - - - - - - - - - - - - -->

														<div class="gt-dropdown">

															<ul class="gt-submenu">

																<li><a href="blog_big_thumbs_1_column_left_sidebar.html">1 Column with left sidebar</a></li>
																<li><a href="blog_big_thumbs_1_column_right_sidebar.html">1 Column with right sidebar</a></li>

															</ul>

														</div>

														<!-- - - - - - - - - - - - - - End of Submenu (level 3) - - - - - - - - - - - - - - - - -->

													</li>

													<li class="gt-has-submenu">

														<a href="blog_small_thumbs_1_column_without_sidebar.html">Small thumbnails</a>

														<!-- - - - - - - - - - - - - - Submenu (level 3) - - - - - - - - - - - - - - - - -->

														<div class="gt-dropdown">

															<ul class="gt-submenu">

																<li><a href="blog_small_thumbs_1_column_without_sidebar.html">1 Column without sidebar</a></li>

															</ul>

														</div>

														<!-- - - - - - - - - - - - - - End of Submenu (level 3) - - - - - - - - - - - - - - - - -->

													</li>

													<li class="gt-has-submenu">

														<a href="blog_single_without_sidebar.html">Single blog post</a>

														<!-- - - - - - - - - - - - - - Submenu (level 3) - - - - - - - - - - - - - - - - -->

														<div class="gt-dropdown">

															<ul class="gt-submenu">

																<li><a href="blog_single_without_sidebar.html">Post without sidebar</a></li>
																<li><a href="blog_single_with_sidebar.html">Post with sidebar</a></li>

															</ul>

														</div>

														<!-- - - - - - - - - - - - - - End of Submenu (level 3) - - - - - - - - - - - - - - - - -->

													</li>

												</ul>

											</div>

											<!-- - - - - - - - - - - - - - End of Submenu (level 2) - - - - - - - - - - - - - - - - -->

										</li>

										<li class="gt-has-submenu">

											<a href="shop_category_list_right_sidebar.html">Shop</a>
											
											<!-- - - - - - - - - - - - - - Submenu (level 2) - - - - - - - - - - - - - - - - -->

											<div class="gt-dropdown">

												<ul class="gt-submenu">

													<li class="gt-has-submenu">
														
														<a href="shop_category_list_left_sidebar.html">Category page</a>

														<!-- - - - - - - - - - - - - - Submenu (level 3) - - - - - - - - - - - - - - - - -->

														<div class="gt-dropdown">

															<ul class="gt-submenu">

																<li><a href="shop_category_list_left_sidebar.html">List with left sidebar</a></li>
																<li><a href="shop_category_list_right_sidebar.html">List with right sidebar</a></li>
																<li><a href="shop_category_grid_2_column_left_sidebar.html">2 column grid with left sidebar</a></li>
																<li><a href="shop_category_grid_2_column_right_sidebar.html">2 column grid with right sidebar</a></li>
																<li><a href="shop_category_grid_3_column_left_sidebar.html">3 column grid with left sidebar</a></li>
																<li><a href="shop_category_grid_3_column_right_sidebar.html">3 column grid with right sidebar</a></li>
																<li><a href="shop_category_grid_4_column_left_sidebar.html">4 column grid with left sidebar</a></li>
																<li><a href="shop_category_grid_4_column_right_sidebar.html">4 column grid with right sidebar</a></li>

															</ul>

														</div>

														<!-- - - - - - - - - - - - - - End of Submenu (level 3) - - - - - - - - - - - - - - - - -->

													</li>
													<li><a href="shop_product_page.html">Product page</a></li>
													<li><a href="shop_product_page_with_sidebar.html">Product page with sidebar</a></li>
													<li><a href="shop_shopping_cart.html">Shopping cart</a></li>
													<li><a href="shop_checkout.html">Checkout</a></li>
													<li><a href="shop_order_page.html">Order page</a></li>

												</ul>

											</div>

											<!-- - - - - - - - - - - - - - End of Submenu (level 2) - - - - - - - - - - - - - - - - -->

										</li>

									</ul>

								</nav>

								<!-- - - - - - - - - - - - - - End of Navigation - - - - - - - - - - - - - - - - -->

								<div class="gt-h-elements">

									<!-- - - - - - - - - - - - - - Searchform - - - - - - - - - - - - - - - - -->

									<div class="gt-compressed-wrap">

										<form novalidate class="gt-lineform gt-compressed">

											<input type="search" placeholder="Search for something">

											<button class="gt-lineform-btn" type="button"><span class="lnr lnr-magnifier"></span></button>

										</form>

									</div>

									<!-- - - - - - - - - - - - - - End of Searchform - - - - - - - - - - - - - - - - -->

									<!-- - - - - - - - - - - - - - Shopping Cart - - - - - - - - - - - - - - - - -->

									<div class="gt-sc-widget">

										<button class="gt-sc-invoker gt-dropdown-invoker"><span class="lnr lnr-cart" data-amount="2"></span></button>

										<div class="gt-shopping-cart gt-dropdown">

											<div class="gt-products-holder">

												<!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

												<div class="gt-col">

													<div class="gt-product">

														<button class="gt-close"></button>

														<a href="#" class="gt-product-image">
															
															<img src="images/product_thumb_1.jpg" alt="">

														</a>

														<div class="gt-product-description">

															<a href="#" class="gt-product-name">Fred Perry Polo Shirt<br>with Shoulder</a>

															<span class="gt-product-price"><span class="gt-amount">1</span>$425.99</span>

														</div><!--/ .product-info -->

													</div>

												</div>

												<!-- - - - - - - - - - - - - - End of Product - - - - - - - - - - - - - - - - -->

												<!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

												<div class="gt-col">

													<div class="gt-product">

														<button class="gt-close"></button>

														<a href="#" class="gt-product-image">
															
															<img src="images/product_thumb_2.jpg" alt="">

														</a>

														<div class="gt-product-description">

															<a href="#" class="gt-product-name">Fred Perry Polo Shirt<br>with Shoulder</a>

															<span class="gt-product-price"><span class="gt-amount">1</span>$425.99</span>

														</div><!--/ .product-info -->

													</div>

												</div>

												<!-- - - - - - - - - - - - - - End of Product - - - - - - - - - - - - - - - - -->

											</div><!--/ .gt-products-holder -->

											<div class="gt-sc-footer">

												<div class="gt-subtotal">Subtotal: <span class="gt-total-price">$1425.99</span></div>

												<ul class="gt-vr-btns-set">

													<li><a href="#" class="gt-btn-3 gt-reverse">View Cart</a></li>
													<li><a href="#" class="gt-btn-3">Checkout</a></li>

												</ul><!--/ .gt-vr-btns-set -->

											</div>

										</div><!--/ .gt-shopping-cart -->

									</div>

									<!-- - - - - - - - - - - - - - End of Shopping Cart - - - - - - - - - - - - - - - - -->

								</div><!--/ .gt-h-elements -->

							</div><!--/ .align-right -->

						</div>

					</div><!--/ .gt-t-row -->

				</div>

				<!-- - - - - - - - - - - - - - End of Header Section - - - - - - - - - - - - - - - - -->

			</header>

			<!-- - - - - - - - - - - - - - End of Header - - - - - - - - - - - - - - - - -->

		</div>

			<!-- - - - - - - - - - - - - - End of Header Wrapper - - - - - - - - - - - - - - - - -->

			<!-- - - - - - - - - - - - - - Media Holder - - - - - - - - - - - - - - - - -->

			<div class="gt-media-holder gt-dim-section gt-fullscreen" data-bg="images/fullscreen_bg_13.jpg">

				<div class="container">

					<div class="row">

						<div class="col-xs-12">

							<div class="gt-centered-content">

								<h1>We are a consulting company <br> with 10 years of experience</h1>

								<a href="http://www.youtube.com/watch?v=wTcNtgA6gHs" class="fancybox-media gt-icon-play"></a>

							</div>

						</div>

					</div><!--/ .row -->

				</div>

			</div>

			<!-- - - - - - - - - - - - - - End of Media Holder - - - - - - - - - - - - - - - - -->

			<!-- - - - - - - - - - - - - - Page Content - - - - - - - - - - - - - - - - -->

			<div class="gt-page-content-wrap gt-no-top-offset gt-no-bottom-offset gt-no-sidebar">

				<div class="container">

					<div class="row">

						<div class="col-xs-12">

							<!-- - - - - - - - - - - - - - Page Section - - - - - - - - - - - - - - - - -->

							<div class="gt-section gt-size-4 gt-fullwidth-section-bg" data-fullwidth-bg="images/section_bg_16.png">

								<div class="gt-content-element">

									<div class="row">
										
										<div class="col-sm-4">
											
											<div class="gt-about-us-section">

												<div class="gt-about-img"><img src="images/370x240_img1.jpg" alt=""></div>
												<div class="gt-about-us-content">

													<h6>Who We Are</h6>
													<p>Cookie biscuit cupcake marshmallow ice cream cupcake liquorice. Marshmallow bear claw biscuit.</p>
													<a class="gt-continue-reading-link gt-type-2" href="#">Read More</a>

												</div>

											</div>

										</div>
										<div class="col-sm-4">
											
											<div class="gt-about-us-section">

												<div class="gt-about-img"><img src="images/370x240_img2.jpg" alt=""></div>
												<div class="gt-about-us-content">

													<h6>What We do</h6>
													<p>Cotton candy topping ice cream ice cream. Bear claw jelly beans halvah candy canes cake fruitcake sweet roll.</p>
													<a class="gt-continue-reading-link gt-type-2" href="#">Read More</a>

												</div>

											</div>

										</div>
										<div class="col-sm-4">
											
											<div class="gt-about-us-section">

												<div class="gt-about-img"><img src="images/370x240_img3.jpg" alt=""></div>
												<div class="gt-about-us-content">

													<h6>Social impact</h6>
													<p>Jelly beans lemon drops halvah gingerbread sweet bear claw pastry topping. </p>
													<a class="gt-continue-reading-link gt-type-2" href="#">Read More</a>

												</div>

											</div>

										</div>

									</div>

								</div>

							</div>

							<!-- - - - - - - - - - - - - - End of Page Section - - - - - - - - - - - - - - - - -->

							<!-- - - - - - - - - - - - - - Page Section - - - - - - - - - - - - - - - - -->

							<section class="gt-section gt-size-4 gt-fullwidth-section-bg gt-bg-color1" data-fullwidth-bg="">

								<h2 class="gt-title-underline">Industry Expertise</h2>

								<p class="gt-sub-title">Pastry liquorice sesame snaps</p>

								<div class="row gt-content-element">

									<div class="col-sm-4">

										<!-- - - - - - - - - - - - - - Icon Box Style 4 - - - - - - - - - - - - - - - - -->

										<section class="gt-icon-box gt-type-4" data-animation="fadeInUp">

											<div class="gt-icon-wrap">

												<div class="licon-plane"></div>

											</div><!--/ .gt-icon-wrap -->

											<h6>Airlines & Transportation</h6>

											<p>Muffin donut dragée gummi bears lemon drops carrot cake roll chocolate bar.</p>

										</section>

										<!-- - - - - - - - - - - - - - End of Icon Box Style 4 - - - - - - - - - - - - - - - - -->

									</div>

									<div class="col-sm-4">

										<!-- - - - - - - - - - - - - - Icon Box Style 4 - - - - - - - - - - - - - - - - -->

										<section class="gt-icon-box gt-type-4" data-animation="fadeInUp">

											<div class="gt-icon-wrap">

												<div class="licon-cart-full"></div>

											</div><!--/ .gt-icon-wrap -->

											<h6>Consumer Products</h6>

											<p>Croissant tootsie roll muffin apple pie sesame snaps biscuit. </p>

										</section>

										<!-- - - - - - - - - - - - - - End of Icon Box Style 4 - - - - - - - - - - - - - - - - -->

									</div>

									<div class="col-sm-4">

										<!-- - - - - - - - - - - - - - Icon Box Style 4 - - - - - - - - - - - - - - - - -->

										<section class="gt-icon-box gt-type-4" data-animation="fadeInUp">

											<div class="gt-icon-wrap">

												<div class="licon-bag-dollar"></div>

											</div><!--/ .gt-icon-wrap -->

											<h6>Financial Services</h6>

											<p>Croissant tootsie roll muffin apple pie sesame snaps biscuit.</p>

										</section>

										<!-- - - - - - - - - - - - - - End of Icon Box Style 4 - - - - - - - - - - - - - - - - -->

									</div>

								</div><!--/ .row -->

								<div class="row gt-content-element">

									<div class="col-sm-4">

										<!-- - - - - - - - - - - - - - Icon Box Style 4 - - - - - - - - - - - - - - - - -->

										<section class="gt-icon-box gt-type-4" data-animation="fadeInUp">

											<div class="gt-icon-wrap">

												<div class="licon-heart-pulse"></div>

											</div><!--/ .gt-icon-wrap -->

											<h6>Healthcare</h6>

											<p>Jelly jelly-o marshmallow chocolate bar. Toffee pastry chupa chups.</p>

										</section>

										<!-- - - - - - - - - - - - - - End of Icon Box Style 4 - - - - - - - - - - - - - - - - -->

									</div>

									<div class="col-sm-4">

										<!-- - - - - - - - - - - - - - Icon Box Style 4 - - - - - - - - - - - - - - - - -->

										<section class="gt-icon-box gt-type-4" data-animation="fadeInUp">

											<div class="gt-icon-wrap">

												<div class="licon-phone"></div>

											</div><!--/ .gt-icon-wrap -->

											<h6>High Tech</h6>

											<p>Gingerbread topping muffin topping fruitcake cookie brownie tootsie roll.</p>

										</section>

										<!-- - - - - - - - - - - - - - End of Icon Box Style 4 - - - - - - - - - - - - - - - - -->

									</div>

									<div class="col-sm-4">

										<!-- - - - - - - - - - - - - - Icon Box Style 4 - - - - - - - - - - - - - - - - -->

										<section class="gt-icon-box gt-type-4" data-animation="fadeInUp">

											<div class="gt-icon-wrap">

												<div class="licon-group-work"></div>

											</div><!--/ .gt-icon-wrap -->

											<h6>Social & Public Sector</h6>

											<p>Gingerbread topping muffin topping fruitcake cookie brownie tootsie roll.</p>

										</section>

										<!-- - - - - - - - - - - - - - End of Icon Box Style 4 - - - - - - - - - - - - - - - - -->

									</div>

								</div><!--/ .row -->

							</section>

							<!-- - - - - - - - - - - - - - End of Page Section - - - - - - - - - - - - - - - - -->

							<!-- - - - - - - - - - - - - - Page Section - - - - - - - - - - - - - - - - -->

							<section class="gt-section gt-size-4 gt-fullwidth-section-bg" data-fullwidth-bg="images/1920x844_bg1.jpg">

								<div class="row">
									<div class="col-sm-6"></div>
									<div class="col-sm-6">
										
										<h2 class="gt-title-underline">Why Choosing Us</h2>
										<p class="gt-sub-title gt-type-2">Cookie biscuit cupcake marshmallow ice cream cupcake liquorice. Marshmallow bear claw biscuit.</p>

										<div class="gt-infoblock gt-type-6 gt-infoblock-columns-1">
											
											<div class="gt-infoblock-item">

												<div class="gt-icon-box">

														
													<div class="gt-icon-wrap">
														<span class="licon-users2"></span>
													</div><!--/ .gt-icon-wrap -->

													<h6 >Win as One Firm </h6>
												
													<div class="gt-icon-content" >
														<p>We work as one firm and succeed through collaboration, inclusion and valuing diverse points of view.</p>
													</div>
														
												</div><!--/ .gt-icon-box -->

											</div>

											<div  data-animation='fadeInUp'  data-animation-delay='260'  class="gt-infoblock-item">

												<div class="gt-icon-box">
														
													<div class="gt-icon-wrap">
														<span class="licon-chart-growth"></span>
													</div><!--/ .gt-icon-wrap -->

													<h6 >Grow with our Clients</h6>
												
													<div class="gt-icon-content" >
														<p>Our clients inspire us to create innovative solutions and exceed expectations.</p>
													</div>
														
												</div><!--/ .gt-icon-box -->

											</div>

											<div  data-animation='fadeInUp'  data-animation-delay='390'  class="gt-infoblock-item">

												<div class="gt-icon-box">

													<div class="gt-icon-wrap">
														<span class="licon-brain"></span>
													</div><!--/ .gt-icon-wrap -->
												
													<h6 >Always Act with Integrity </h6>
												
													<div class="gt-icon-content" >
														<p>We operate at the highest levels of ethics and integrity in all we do.</p>
													</div>
													
												</div><!--/ .gt-icon-box -->

											</div>

										</div>

									</div>
								</div>

							</section>

							<!-- - - - - - - - - - - - - - End of Page Section - - - - - - - - - - - - - - - - -->

							<!-- - - - - - - - - - - - - - Call Out Style 3 - - - - - - - - - - - - - - - - -->

							<section class="gt-call-out gt-type-3 gt-fullwidth-section-bg gt-bg-color2" data-fullwidth-bg="">

								<div class="gt-t-row">

									<div class="col-md-8 col-sm-7">

										<h3>Feel Free to Request a Free Quote!</h3>

									</div>

									<div class="col-md-4 col-sm-5">

										<div class="align-right">

											<a  class="gt-cta-button"
											 data-animation='fadeInUp'  data-animation-delay='130' 
											href="#"
											target=" _blank">Submit Your Quote</a>

										</div><!--/ .align-right -->

									</div>

								</div><!--/ .gt-t-row -->

							</section>

							<!-- - - - - - - - - - - - - - End of Call Out Style 3 - - - - - - - - - - - - - - - - -->

							<!-- - - - - - - - - - - - - - Page Section - - - - - - - - - - - - - - - - -->

							<section class="gt-section gt-fullwidth-section-bg" data-fullwidth-bg="images/section_bg_1.png">

								<h2 class="gt-title-underline">Trusted by People</h2>

								<!-- - - - - - - - - - - - - - Carousel Style 1 - - - - - - - - - - - - - - - - -->

								<div class="owl-carousel owl-large-nav gt-testimonials-holder gt-type-1" id="sync-carousel-1" data-animation="fadeInUp">

									<!-- - - - - - - - - - - - - - Testimonial - - - - - - - - - - - - - - - - -->

									<div class="gt-testimonial">

										<blockquote>
											<p>I've broken down the best gas grills on the market by price so you can find the perfect gas grill for you. While many of these gas grills are easily found, try shopping at specialty grill stores for the best BBQ grills.</p>
										</blockquote>

										<div class="gt-about">About <a href="#">Dirty Grill Killer</a></div>

									</div>

									<!-- - - - - - - - - - - - - - End of Testimonial - - - - - - - - - - - - - - - - -->

									<!-- - - - - - - - - - - - - - Testimonial - - - - - - - - - - - - - - - - -->

									<div class="gt-testimonial">

										<blockquote>
											<p>While many of these gas grills are easily found, try shopping at specialty grill stores for the best BBQ grills. I've broken down the best gas grills on the market by price so you can find the perfect gas grill for you.</p>
										</blockquote>

										<div class="gt-about">About <a href="#">Dirty Grill Killer</a></div>

									</div>

									<!-- - - - - - - - - - - - - - End of Testimonial - - - - - - - - - - - - - - - - -->

									<!-- - - - - - - - - - - - - - Testimonial - - - - - - - - - - - - - - - - -->

									<div class="gt-testimonial">

										<blockquote>
											<p>While many of these gas grills are easily found, try shopping at specialty grill stores for the best BBQ grills.</p>
										</blockquote>

										<div class="gt-about">About <a href="#">Dirty Grill Killer</a></div>

									</div>

									<!-- - - - - - - - - - - - - - End of Testimonial - - - - - - - - - - - - - - - - -->

								</div>

								<!-- - - - - - - - - - - - - - End of Carousel Style 1 - - - - - - - - - - - - - - - - -->

								<!-- - - - - - - - - - - - - - Carousel Pagination - - - - - - - - - - - - - - - - -->

								<div class="owl-carousel gt-authors-holder" data-sync="#sync-carousel-1" data-animation="fadeInUp">

									<!-- - - - - - - - - - - - - - Author Box - - - - - - - - - - - - - - - - -->

									<div class="gt-author-box">

										<a href="#" class="gt-avatar">
											<img src="images/author_1.jpg" alt="">
										</a>

										<div class="gt-author-info">

											<a href="#" class="gt-author-name">Edna Herrera</a>
											<span class="gt-author-position">Restaurant owner</span>
											<span class="gt-author-company">Bachi Burger</span>

										</div><!--/ .gt-author-info -->

									</div><!--/ .gt-author-box -->

									<!-- - - - - - - - - - - - - - End of Author Box - - - - - - - - - - - - - - - - -->

									<!-- - - - - - - - - - - - - - Author Box - - - - - - - - - - - - - - - - -->

									<div class="gt-author-box">

										<a href="#" class="gt-avatar">
											<img src="images/author_2.jpg" alt="">
										</a>

										<div class="gt-author-info">

											<a href="#" class="gt-author-name">Andrew Stevens</a>
											<span class="gt-author-position">Master Cook</span>
											<span class="gt-author-company">Bardot Brasserie</span>

										</div><!--/ .gt-author-info -->

									</div><!--/ .gt-author-box -->

									<!-- - - - - - - - - - - - - - End of Author Box - - - - - - - - - - - - - - - - -->

									<!-- - - - - - - - - - - - - - Author Box - - - - - - - - - - - - - - - - -->

									<div class="gt-author-box">

										<a href="#" class="gt-avatar">
											<img src="images/author_3.jpg" alt="">
										</a>

										<div class="gt-author-info">

											<a href="#" class="gt-author-name">Diana Holland</a>
											<span class="gt-author-position">BBQ Lover</span>

										</div><!--/ .gt-author-info -->

									</div><!--/ .gt-author-box -->

									<!-- - - - - - - - - - - - - - End of Author Box - - - - - - - - - - - - - - - - -->

								</div>

								<!-- - - - - - - - - - - - - - End of Carousel Pagination - - - - - - - - - - - - - - - - -->

							</section><!--/ .gt-section -->

							<!-- - - - - - - - - - - - - - End of Page Section - - - - - - - - - - - - - - - - -->

							<!-- - - - - - - - - - - - - - Page Section - - - - - - - - - - - - - - - - -->

							<section class="gt-section gt-size-2">

								<!-- - - - - - - - - - - - - - Carousel Style 4 - - - - - - - - - - - - - - - - -->

								<div class="owl-carousel owl-large-nav gt-brand-holder gt-cols-5">

									<div class="gt-col">

										<!-- - - - - - - - - - - - - - brand - - - - - - - - - - - - - - - - -->

										<a href="#" class="gt-brand"><img src="images/brand1.jpg" alt=""></a>

										<!-- - - - - - - - - - - - - - End of brand - - - - - - - - - - - - - - - - -->

									</div><!--/ .gt-col -->

									<div class="gt-col">

										<!-- - - - - - - - - - - - - - brand - - - - - - - - - - - - - - - - -->

										<a href="#" class="gt-brand"><img src="images/brand2.jpg" alt=""></a>

										<!-- - - - - - - - - - - - - - End of brand - - - - - - - - - - - - - - - - -->

									</div><!--/ .gt-col -->

									<div class="gt-col">

										<!-- - - - - - - - - - - - - - brand - - - - - - - - - - - - - - - - -->

										<a href="#" class="gt-brand"><img src="images/brand3.jpg" alt=""></a>

										<!-- - - - - - - - - - - - - - End of brand - - - - - - - - - - - - - - - - -->

									</div><!--/ .gt-col -->

									<div class="gt-col">

										<!-- - - - - - - - - - - - - - brand - - - - - - - - - - - - - - - - -->

										<a href="#" class="gt-brand"><img src="images/brand4.jpg" alt=""></a>

										<!-- - - - - - - - - - - - - - End of brand - - - - - - - - - - - - - - - - -->

									</div><!--/ .gt-col -->

									<div class="gt-col">

										<!-- - - - - - - - - - - - - - brand - - - - - - - - - - - - - - - - -->

										<a href="#" class="gt-brand"><img src="images/brand5.jpg" alt=""></a>

										<!-- - - - - - - - - - - - - - End of brand - - - - - - - - - - - - - - - - -->

									</div><!--/ .gt-col -->

								</div>

								<!-- - - - - - - - - - - - - - End of Carousel Style 4 - - - - - - - - - - - - - - - - -->

							</section><!--/ .gt-section -->

							<!-- - - - - - - - - - - - - - End of Page Section - - - - - - - - - - - - - - - - -->

							<!-- - - - - - - - - - - - - - Page Section - - - - - - - - - - - - - - - - -->

							<section class="gt-section gt-grey gt-fullwidth-section-bg">

								<h2 class="gt-title-underline">Our Plans</h2>

								<p class="gt-sub-title">Jelly jelly-o marshmallow chocolate bar.</p>

								<!-- - - - - - - - - - - - - - Pricing Tables - - - - - - - - - - - - - - - - -->

								<div class="gt-pricing-tables-holder gt-cols-3 gt-type-3">

									<!-- - - - - - - - - - - - - - Pricing Table - - - - - - - - - - - - - - - - -->

									<div class="gt-pricing-table" data-animation="fadeInUp" data-bg="images/pricing_table_bg.jpg">

										<header class="gt-pt-header">

											<div class="gt-pt-type">Personal</div>

											<div class="gt-pt-price">Free</div>

										</header><!--/ .gt-pt-header -->

										<ul class="gt-pt-features-list">

											<li>1 user</li>
											<li>No VPN access</li>
											<li>2 Gb allowed</li>

										</ul><!--/ .gt-features-list -->

										<footer class="gt-pt-footer">

											<a href="#" class="gt-btn-3">Sign Up</a>

										</footer><!--/ .gt-pt-footer -->

									</div>

									<!-- - - - - - - - - - - - - - End of Pricing Table - - - - - - - - - - - - - - - - -->

									<!-- - - - - - - - - - - - - - Pricing Table - - - - - - - - - - - - - - - - -->

									<div class="gt-pricing-table" data-animation="fadeInUp" data-animation-delay="130" data-bg="images/pricing_table_bg_2.jpg">

										<div class="gt-label">Best Choice</div>

										<header class="gt-pt-header">

											<div class="gt-pt-type">Corporate</div>

											<div class="gt-pt-price">$12 <span class="gt-pt-lifetime">Per Month</span></div>

										</header><!--/ .gt-pt-header -->

										<ul class="gt-pt-features-list">

											<li>15 users</li>
											<li>5 VPN gates</li>
											<li>50 Gb allowed</li>

										</ul><!--/ .gt-features-list -->

										<footer class="gt-pt-footer">

											<a href="#" class="gt-btn-3">Sign Up</a>

										</footer><!--/ .gt-pt-footer -->

									</div>

									<!-- - - - - - - - - - - - - - End of Pricing Table - - - - - - - - - - - - - - - - -->

									<!-- - - - - - - - - - - - - - Pricing Table - - - - - - - - - - - - - - - - -->

									<div class="gt-pricing-table" data-animation="fadeInUp" data-animation-delay="260" data-bg="images/pricing_table_bg_3.jpg">

										<header class="gt-pt-header">

											<div class="gt-pt-type">Enterprise</div>

											<div class="gt-pt-price">$35 <span class="gt-pt-lifetime">Per Month</span></div>

										</header><!--/ .gt-pt-header -->

										<ul class="gt-pt-features-list">

											<li>150 users</li>
											<li>25 VPN gates</li>
											<li>Unlimited space</li>

										</ul><!--/ .gt-features-list -->

										<footer class="gt-pt-footer">

											<a href="#" class="gt-btn-3">Sign Up</a>

										</footer><!--/ .gt-pt-footer -->

									</div>

									<!-- - - - - - - - - - - - - - End of Pricing Table - - - - - - - - - - - - - - - - -->

								</div>

								<!-- - - - - - - - - - - - - - End of Pricing Tables - - - - - - - - - - - - - - - - -->

							</section>

							<!-- - - - - - - - - - - - - - End of Page Section - - - - - - - - - - - - - - - - -->

							<!-- - - - - - - - - - - - - - Page Section - - - - - - - - - - - - - - - - -->

							<section class="gt-section">

								<h2 class="gt-title-underline">From Our Blog</h2>

								<p class="gt-sub-title">Carrot cake gingerbread sugar plum jujubes.</p>

								<!-- - - - - - - - - - - - - - Carousel Style 4 - - - - - - - - - - - - - - - - -->

								<div class="owl-carousel owl-large-nav gt-entries-holder gt-type-1 gt-cols-3" data-animation="fadeInUp">

									<div class="gt-col">

										<!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->

										<article class="gt-entry gt-image-entry-format">

											<!-- - - - - - - - - - - - - - Attachment - - - - - - - - - - - - - - - - -->

											<div class="gt-entry-attachment">

												<a class="gt-thumbnail-attachment" href="blog_single_without_sidebar.html"><img src="images/entry_image_01.jpg" alt=""></a>

											</div>

											<!-- - - - - - - - - - - - - - End of Attachment - - - - - - - - - - - - - - - - -->

											<!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->

											<div class="gt-entry-body">

												<ul class="gt-entry-cats">
													<li><a href="#">Business</a></li>
												</ul>

												<h6 class="gt-entry-title"><a href="blog_single_without_sidebar.html">Why a Visual<br>Really is Worth 1,000 Words</a></h6>

											</div>

											<!-- - - - - - - - - - - - - - End of Entry body - - - - - - - - - - - - - - - - -->

										</article>

										<!-- - - - - - - - - - - - - - End of Entry - - - - - - - - - - - - - - - - -->

									</div><!--/ .gt-col -->

									<div class="gt-col">

										<!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->

										<article class="gt-entry gt-image-entry-format">

											<!-- - - - - - - - - - - - - - Attachment - - - - - - - - - - - - - - - - -->

											<div class="gt-entry-attachment">

												<a class="gt-thumbnail-attachment" href="blog_single_without_sidebar.html"><img src="images/entry_image_02.jpg" alt=""></a>

											</div>

											<!-- - - - - - - - - - - - - - End of Attachment - - - - - - - - - - - - - - - - -->

											<!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->

											<div class="gt-entry-body">

												<ul class="gt-entry-cats">
													<li><a href="#">Queue Managing</a></li>
												</ul>

												<h6 class="gt-entry-title"><a href="blog_single_without_sidebar.html">7 Smart Ideas for Managing the Support Queue</a></h6>

											</div>

											<!-- - - - - - - - - - - - - - End of Entry body - - - - - - - - - - - - - - - - -->

										</article>

										<!-- - - - - - - - - - - - - - End of Entry - - - - - - - - - - - - - - - - -->

									</div><!--/ .gt-col -->

									<div class="gt-col">

										<!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->

										<article class="gt-entry gt-image-entry-format">

											<!-- - - - - - - - - - - - - - Attachment - - - - - - - - - - - - - - - - -->

											<div class="gt-entry-attachment">

												<a class="gt-thumbnail-attachment" href="blog_single_without_sidebar.html"><img src="images/entry_image_03.jpg" alt=""></a>

											</div>

											<!-- - - - - - - - - - - - - - End of Attachment - - - - - - - - - - - - - - - - -->

											<!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->

											<div class="gt-entry-body">

												<ul class="gt-entry-cats">
													<li><a href="#">Support</a></li>
												</ul>

												<h6 class="gt-entry-title"><a href="blog_single_without_sidebar.html">Supercharge Your Support With Data-Driven Smarts</a></h6>

											</div>

											<!-- - - - - - - - - - - - - - End of Entry body - - - - - - - - - - - - - - - - -->

										</article>

										<!-- - - - - - - - - - - - - - End of Entry - - - - - - - - - - - - - - - - -->

									</div><!--/ .gt-col -->

									<div class="gt-col">

										<!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->

										<article class="gt-entry gt-image-entry-format">

											<!-- - - - - - - - - - - - - - Attachment - - - - - - - - - - - - - - - - -->

											<div class="gt-entry-attachment">

												<a class="gt-thumbnail-attachment" href="blog_single_without_sidebar.html"><img src="images/entry_image_01.jpg" alt=""></a>

											</div>

											<!-- - - - - - - - - - - - - - End of Attachment - - - - - - - - - - - - - - - - -->

											<!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->

											<div class="gt-entry-body">

												<ul class="gt-entry-cats">
													<li><a href="#">Business</a></li>
												</ul>

												<h6 class="gt-entry-title"><a href="blog_single_without_sidebar.html">Why a Visual<br>Really is Worth 1,000 Words</a></h6>

											</div>

											<!-- - - - - - - - - - - - - - End of Entry body - - - - - - - - - - - - - - - - -->

										</article>

										<!-- - - - - - - - - - - - - - End of Entry - - - - - - - - - - - - - - - - -->

									</div><!--/ .gt-col -->

								</div>

								<!-- - - - - - - - - - - - - - End of Carousel Style 4 - - - - - - - - - - - - - - - - -->

							</section>

							<!-- - - - - - - - - - - - - - End of Page Section - - - - - - - - - - - - - - - - -->

						</div>

					</div><!--/ .row -->

				</div><!--/ .container -->

			</div>

			<!-- - - - - - - - - - - - - - End of Page Content - - - - - - - - - - - - - - - - -->

			<div class="gt-footer-holder">

	<!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->

	<footer id="footer" class="gt-footer gt-type-1" data-bg="images/footer-bg.png">

		<div class="container">

			<!-- - - - - - - - - - - - - - Footer Section - - - - - - - - - - - - - - - - -->

			<div class="gt-fs-medium">

				<div class="row">

					<div class="col-lg-3 col-sm-4">

						<!-- - - - - - - - - - - - - - Widget - - - - - - - - - - - - - - - - -->

						<div class="gt-widget gt-widget-text">

							<h5 class="gt-widget-title">Gatsby HTML Template</h5>

							<p>Tart soufflé dessert. Muffin biscuit dragée.</p>

						</div>

						<!-- - - - - - - - - - - - - - End of Widget - - - - - - - - - - - - - - - - -->

						<!-- - - - - - - - - - - - - - Widget - - - - - - - - - - - - - - - - -->

						<div class="gt-widget gt-widget-subscribe">

							<h5 class="gt-widget-title">Subscribe</h5>

							<form novalidate class="gt-lineform gt-subscribe">

								<input type="email" name="subscribe_email" placeholder="gatsby@samplemail.com">

								<button class="gt-lineform-btn"><span class="lnr lnr-envelope"></span></button>

							</form>

						</div>

						<!-- - - - - - - - - - - - - - End of Widget - - - - - - - - - - - - - - - - -->

					</div>

					<div class="col-sm-4 col-lg-4 col-lg-offset-1">

						<!-- - - - - - - - - - - - - - Widget - - - - - - - - - - - - - - - - -->

						<div class="gt-widget gt-widget-latest-tweets">

							<h5 class="gt-widget-title">Latest Tweets</h5>

							<div class="gt-twitter-feed"></div>

						</div>

						<!-- - - - - - - - - - - - - - End of Widget - - - - - - - - - - - - - - - - -->

					</div>

					<div class="col-sm-4">

						<!-- - - - - - - - - - - - - - Widget - - - - - - - - - - - - - - - - -->

						<div class="gt-widget gt-widget-instagram">

							<h5 class="gt-widget-title">Instagram</h5>

							<div id="instafeed" class="gt-instagram-feed"></div>

						</div>

						<!-- - - - - - - - - - - - - - End of Widget - - - - - - - - - - - - - - - - -->

					</div>

				</div><!--/ .row -->

			</div>

			<!-- - - - - - - - - - - - - - End of Footer Section - - - - - - - - - - - - - - - - -->

			<!-- - - - - - - - - - - - - - Footer Section - - - - - - - - - - - - - - - - -->

			<div class="gt-fs-small gt-copyright">

				<div class="gt-t-row">

					<div class="col-sm-8">

						<ul class="gt-hr-list">

							<li><a href="#">Product</a></li>
							<li><a href="#">Features</a></li>
							<li><a href="#">Pricing</a></li>
							<li><a href="#">Contacts</a></li>
							<li><a href="#">About</a></li>

						</ul>

					</div>

					<div class="col-sm-4">

						<ul class="gt-social-icons align-right">

							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-tumblr"></i></a></li>
							<li><a href="#"><i class="fa fa-vimeo"></i></a></li>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-flickr"></i></a></li>

						</ul>

					</div>

				</div><!--/ .gt-t-row -->

			</div>

			<!-- - - - - - - - - - - - - - End of Footer Section - - - - - - - - - - - - - - - - -->

		</div><!--/ .container -->

	</footer>

	<!-- - - - - - - - - - - - - - End of Footer - - - - - - - - - - - - - - - - -->

</div>

		</div>