@media (min-width: 992px) {
  .bottom-photos .owl-carousel .owl-controls .owl-nav .owl-prev,
  .bottom-photos .owl-carousel .owl-controls .owl-nav .owl-next,
  .bottom-photos .owl-carousel .owl-controls .owl-dot {
      margin: 0 130px;
    }
  }


  @media (max-width: 900px) {
    .bottom-photos .owl-carousel .owl-controls .owl-nav .owl-prev,
    .bottom-photos .owl-carousel .owl-controls .owl-nav .owl-next,
    .bottom-photos .owl-carousel .owl-controls .owl-dot {
    margin: 0 70px;
    }

    .fancybox-close {
      right: -20px !important
    }
  }


  @media (min-width: 1201px) {
   .carouselCustom .owl-carousel .owl-controls .owl-nav .owl-prev,
  .carouselCustom .owl-carousel .owl-controls .owl-nav .owl-next,
  .carouselCustom .owl-carousel .owl-controls .owl-dot {
    margin: 0 0px;
  }
  }

