<div class="gt-footer-holder">

	<!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->

	<footer id="footer" class="gt-footer gt-type-1" data-bg="images/footer-bg.png">

		<div class="container">

			<!-- - - - - - - - - - - - - - Footer Section - - - - - - - - - - - - - - - - -->

			<div class="gt-fs-medium">

				<div class="row">

					<div class="col-lg-3 col-sm-4">

						<!-- - - - - - - - - - - - - - Widget - - - - - - - - - - - - - - - - -->

						<div class="gt-widget gt-widget-text">

							<h5 class="gt-widget-title">Gatsby HTML Template</h5>

							<p>Tart soufflé dessert. Muffin biscuit dragée.</p>

						</div>

						<!-- - - - - - - - - - - - - - End of Widget - - - - - - - - - - - - - - - - -->

						<!-- - - - - - - - - - - - - - Widget - - - - - - - - - - - - - - - - -->

						<div class="gt-widget gt-widget-subscribe">

							<h5 class="gt-widget-title">Subscribe</h5>

							<form novalidate class="gt-lineform gt-subscribe">

								<input type="email" name="subscribe_email" placeholder="gatsby@samplemail.com">

								<button class="gt-lineform-btn"><span class="lnr lnr-envelope"></span></button>

							</form>

						</div>

						<!-- - - - - - - - - - - - - - End of Widget - - - - - - - - - - - - - - - - -->

					</div>

					<div class="col-sm-4 col-lg-4 col-lg-offset-1">

						<!-- - - - - - - - - - - - - - Widget - - - - - - - - - - - - - - - - -->

						<div class="gt-widget gt-widget-latest-tweets">

							<h5 class="gt-widget-title">Latest Tweets</h5>

							<div class="gt-twitter-feed"></div>

						</div>

						<!-- - - - - - - - - - - - - - End of Widget - - - - - - - - - - - - - - - - -->

					</div>

					<div class="col-sm-4">

						<!-- - - - - - - - - - - - - - Widget - - - - - - - - - - - - - - - - -->

						<div class="gt-widget gt-widget-instagram">

							<h5 class="gt-widget-title">Instagram</h5>

							<div id="instafeed" class="gt-instagram-feed"></div>

						</div>

						<!-- - - - - - - - - - - - - - End of Widget - - - - - - - - - - - - - - - - -->

					</div>

				</div><!--/ .row -->

			</div>

			<!-- - - - - - - - - - - - - - End of Footer Section - - - - - - - - - - - - - - - - -->

			<!-- - - - - - - - - - - - - - Footer Section - - - - - - - - - - - - - - - - -->

			<div class="gt-fs-small gt-copyright">

				<div class="gt-t-row">

					<div class="col-sm-8">

						<ul class="gt-hr-list">

							<li><a class="navA" href="#">Product</a></li>
							<li><a class="navA" href="#">Features</a></li>
							<li><a class="navA" href="#">Pricing</a></li>
							<li><a class="navA" href="#">Contacts</a></li>
							<li><a class="navA" href="#">About</a></li>

						</ul>

					</div>

					<div class="col-sm-4">

						<ul class="gt-social-icons align-right">

							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-tumblr"></i></a></li>
							<li><a href="#"><i class="fa fa-vimeo"></i></a></li>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-flickr"></i></a></li>

						</ul>

					</div>

				</div><!--/ .gt-t-row -->

			</div>

			<!-- - - - - - - - - - - - - - End of Footer Section - - - - - - - - - - - - - - - - -->

		</div><!--/ .container -->

	</footer>

	<!-- - - - - - - - - - - - - - End of Footer - - - - - - - - - - - - - - - - -->

</div>