<div class="gt-footer-holder">

	<!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->

	<footer id="footer" class="gt-footer gt-type-1" data-bg="images/footer-bg.png">

		<div class="container">

			<!-- - - - - - - - - - - - - - Footer Section - - - - - - - - - - - - - - - - -->

			<div class="gt-fs-medium">

				<div class="row">

					<div class="col-lg-4 col-sm-4">

						<!-- - - - - - - - - - - - - - Widget - - - - - - - - - - - - - - - - -->

						<div class="gt-widget gt-widget-text">

							<h5 class="gt-widget-title">Walindwa</h5>

							<div class="container h-100">
								<div class="row h-100">
									<div class="col-xs-1" style="padding: 0; width: 0;">
										<i class="fa fa-map-marker"></i>
									</div>
									<div class="col-xs-11" style="padding-left: 3rem;">
										P.O. Box 270024
										<br>
										San Diego, CA 92198-2024
									</div>
								</div>
								<div class="row h-100" style="margin-top: 1rem;">
									<div class="col-xs-1" style="padding: 0; width: 0;">
										<i class="fa fa-phone"></i>
									</div>
									<div class="col-xs-11" style="padding-left: 3rem;">
										(858) 487-4056
									</div>
								</div>
								<div class="row h-100" style="margin-top: 1rem;">
									<div class="col-xs-1" style="padding: 0; width: 0;">
										<i class="fa fa-envelope"></i>
									</div>
									<div class="col-xs-11" style="padding-left: 3rem;">
										walindwa@walindwa.org
									</div>
								</div>
							</div>

						</div>

						<!-- - - - - - - - - - - - - - End of Widget - - - - - - - - - - - - - - - - -->

					</div>

					<div class="col-sm-3 col-lg-3">

						<!-- - - - - - - - - - - - - - Widget - - - - - - - - - - - - - - - - -->

						<div class="gt-widget gt-widget-latest-tweets">

							<h5 class="gt-widget-title">Useful Links</h5>

							<ul>
								<li>
									<a href="/donate" class="navA">
										<i class="fa fa-angle-right"></i>
										Donate
									</a>
								</li>
								<li>
									<a href="/opportunities" class="navA">
										<i class="fa fa-angle-right"></i>
										Sponsor A Child
									</a>
								</li>
								<li>
									<a href="/blog" class="navA">
										<i class="fa fa-angle-right"></i>
										Blog
									</a>
								</li>
								<li>
									<a href="/corporate-info" class="navA">
										<i class="fa fa-angle-right"></i>
										Corporate Info
									</a>
								</li>
								<li>
									<a href="https://admin.moreleft.com/uploads/WalindwaPrivacyPolicy-Rev1.0-1_66cc606540.pdf" class="navA">
										<i class="fa fa-angle-right"></i>
										Privacy Statement
									</a>
								</li>
							</ul>

						</div>

						<!-- - - - - - - - - - - - - - End of Widget - - - - - - - - - - - - - - - - -->

					</div>

					<div class="col-sm-5">


						<!-- - - - - - - - - - - - - - Widget - - - - - - - - - - - - - - - - -->

						<div class="gt-widget gt-widget-subscribe">

							<h5 class="gt-widget-title">Subscribe</h5>

							<form novalidate class="gt-lineform gt-subscribe" style="display: none;">

								<input type="email" name="subscribe_email" placeholder="gatsby@samplemail.com">

								<button class="gt-lineform-btn"><span class="lnr lnr-envelope"></span></button>

							</form>


							<!-- Begin Mailchimp Signup Form -->
							<div id="mc_embed_signup">
								<form novalidate
									action="https://walindwa.us7.list-manage.com/subscribe?u=11622771fa865ffca225b78de&id=24bb4c515f"
									method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
									class="validate gt-lineform gt-subscribe" target="_blank">
									<div id="mc_embed_signup_scroll">
										{{!-- <h2>Subscribe</h2> --}}
										{{!-- <div class="indicates-required"><span class="asterisk">*</span> indicates
											required</div> --}}
										<div class="mc-field-group">
											{{!-- <label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
											</label> --}}
											<input type="email" value="" name="EMAIL" class="required email"
												id="mce-EMAIL" placeholder="name@example.com">
											<button class="gt-lineform-btn" type="submit" name="subscribe"><span
													class="lnr lnr-envelope"></span></button>
										</div>
										<div id="mce-responses" class="clear">
											<div class="response" id="mce-error-response" style="display:none"></div>
											<div class="response" id="mce-success-response" style="display:none"></div>
										</div>
										<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
										<div style="position: absolute; left: -5000px;" aria-hidden="true"><input
												type="text" name="b_11622771fa865ffca225b78de_24bb4c515f" tabindex="-1"
												value=""></div>
										<div class="clear">
											{{!-- <input type="submit" value="Subscribe" name="subscribe"
												id="mc-embedded-subscribe" class="button"> --}}

											<button class="gt-lineform-btn" type="submit" name="subscribe"
												id="mc-embedded-subscribe"><span
													class="lnr lnr-envelope"></span></button>


										</div>
									</div>
								</form>
							</div>

							<!--End mc_embed_signup-->

						</div>

						<!-- - - - - - - - - - - - - - End of Widget - - - - - - - - - - - - - - - - -->


						{{!-- <!-- - - - - - - - - - - - - - Widget - - - - - - - - - - - - - - - - -->

						<div class="gt-widget gt-widget-instagram">

							<h5 class="gt-widget-title">Instagram</h5>

							<div id="instafeed" class="gt-instagram-feed"></div>

						</div>

						<!-- - - - - - - - - - - - - - End of Widget - - - - - - - - - - - - - - - - --> --}}

					</div>

				</div>
				<!--/ .row -->

			</div>

			<!-- - - - - - - - - - - - - - End of Footer Section - - - - - - - - - - - - - - - - -->

			<!-- - - - - - - - - - - - - - Footer Section - - - - - - - - - - - - - - - - -->

			<div class="gt-fs-small gt-copyright">

				<div class="gt-t-row">

					<div class="col-sm-8">

						Copyright &#169;
						<script type="text/javascript">
							document.write('2012-' + new Date().getFullYear() + '.');
						</script>
						Walindwa is a 501(c)(3)

						{{!-- <ul class="gt-hr-list">

							<li><a class="navA" href="/donate">Donate</a></li>
							<li><a class="navA" href="/opportunities">Sponsor A Child</a></li>
							<li><a class="navA" href="/blog">Blog</a></li>
							<li><a class="navA" href="/corporate-info">Corporate Info</a></li>
							<li><a class="navA" href="#">Privacy Statement</a></li>

						</ul> --}}

					</div>

					<div class="col-sm-4">

						<ul class="gt-social-icons align-right">

							{{!-- <li><a href="#"><i class="fa fa-linkedin"></i></a></li> --}}
							{{!-- <li><a href="#"><i class="fa fa-tumblr"></i></a></li> --}}
							{{!-- <li><a href="#"><i class="fa fa-vimeo"></i></a></li> --}}
							<li><a href="https://www.facebook.com/Walindwa/" target="_blank"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram"></i></a></li>
							<li><a href="https://www.youtube.com/channel/UCZJHchTP8b6VBDa3i_kEQ8w" target="_blank"><i class="fa fa-youtube"></i></a></li>
							{{!-- <li><a href="#"><i class="fa fa-flickr"></i></a></li> --}}

						</ul>

					</div>

				</div>
				<!--/ .gt-t-row -->

			</div>

			<!-- - - - - - - - - - - - - - End of Footer Section - - - - - - - - - - - - - - - - -->

		</div>
		<!--/ .container -->

	</footer>

	<!-- - - - - - - - - - - - - - End of Footer - - - - - - - - - - - - - - - - -->

</div>