<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
					Header wrapper. Only for demo (loading header types
					via styleswitcher), can be removed in pdoruction version
		    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

<div class="gt-header-wrap">

    <!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->

    {{#if homeSingle}}
    <header id="header" class="gt-header gt-type-8 gt-transparent"> 
        
        <div class="gt-hs-medium">
    {{/if}}

    {{#unless homeSingle}}
         <header id="header" class="gt-header gt-type-1 gt-dark">
    
            <div class="gt-hs-medium gt-sticky">
    {{/unless}}


        <!-- - - - - - - - - - - - - - Header Section - - - - - - - - - - - - - - - - -->



            <div class="gt-t-row">

                <div class="col-sm-2">

                    <!-- - - - - - - - - - - - - - Logo - - - - - - - - - - - - - - - - -->

                    <a href="/" class="gt-logo navA">

                        {{!-- <img src="images/logo.png" alt=""> --}}
                        <h6 class="gt" style="color: white;">Walindwa</h6>

                    </a>

                    <!-- - - - - - - - - - - - - - End of Logo - - - - - - - - - - - - - - - - -->

                </div>

                <div class="col-sm-10">

                    <div class="align-right">

                        <!-- - - - - - - - - - - - - - Navigation - - - - - - - - - - - - - - - - -->

                        <nav class="gt-nav-wrap">

                            <ul class="gt-navigation">

                                <li class="gt-has-submenu">

                                    <a class="navA">About Us</a>

                                    <!-- - - - - - - - - - - - - - Submenu (level 2) - - - - - - - - - - - - - - - - -->

                                    <div class="gt-dropdown">

                                        <ul class="gt-submenu">

                                            <li><a class="navA" href="/overview">Overview</a></li>
                                            <li><a class="navA" href="/board">Board Members</a></li>
                                            <li><a class="navA" href="/corporate-info">Corporate Information</a></li>

                                        </ul>

                                    </div>

                                    <!-- - - - - - - - - - - - - - End of Submenu (level 2) - - - - - - - - - - - - - - - - -->

                                </li>

                                <li class="gt-has-submenu">

                                    <a class="navA">In Kenya</a>

                                    <!-- - - - - - - - - - - - - - Submenu (level 2) - - - - - - - - - - - - - - - - -->

                                    <div class="gt-dropdown">

                                        <ul class="gt-submenu">

                                            <li><a class="navA" href="/kenya">Kenya, Eldama Ravine and Kamonong Community</a></li>
                                            <li><a class="navA" href="/ebcck">EBCCK</a></li>
                                            <li><a class="navA" href="/ekhs">EKHS</a></li>
                                            <li><a class="navA" href="/projects">Projects</a></li>

                                        </ul>

                                    </div>

                                    <!-- - - - - - - - - - - - - - End of Submenu (level 2) - - - - - - - - - - - - - - - - -->

                                </li>

                                <li class="gt-has-submenu">

                                    <a class="navA">Sponsorship</a>

                                    <!-- - - - - - - - - - - - - - Submenu (level 2) - - - - - - - - - - - - - - - - -->

                                    <div class="gt-dropdown">

                                        <ul class="gt-submenu">

                                            <li><a class="navA" href="/students">Student Sponsorship</a></li>
                                            <li><a class="navA" href="/post-high-school">Post-High School</a></li>

                                        </ul>

                                    </div>

                                    <!-- - - - - - - - - - - - - - End of Submenu (level 2) - - - - - - - - - - - - - - - - -->

                                </li>

                                <li class="gt-has-submenu">

                                    <a class="navA">Ministry Updates</a>

                                    <!-- - - - - - - - - - - - - - Submenu (level 2) - - - - - - - - - - - - - - - - -->

                                    <div class="gt-dropdown">

                                        <ul class="gt-submenu">

                                            <li><a class="navA" href="/blog">Trip Blog</a></li>
                                            <li><a class="navA" href="/photos">Photos & Videos</a></li>
                                            <li><a class="navA" href="/testimonials">Testimonials</a></li>
                                            <li><a class="navA" href="/newsletters">Newsletters</a></li>

                                        </ul>

                                    </div>

                                    <!-- - - - - - - - - - - - - - End of Submenu (level 2) - - - - - - - - - - - - - - - - -->

                                </li>

                                <li class="gt">

                                    <a class="navA" href="/giving">Giving</a>

                                </li>

                            </ul>

                        </nav>

                        <!-- - - - - - - - - - - - - - End of Navigation - - - - - - - - - - - - - - - - -->

                        <div class="gt-h-elements">

                            <!-- - - - - - - - - - - - - - Searchform - - - - - - - - - - - - - - - - -->

                            {{!-- <div class="gt-compressed-wrap">

                                <form novalidate class="gt-lineform gt-compressed">

                                    <input type="search" placeholder="Search for something">

                                    <button class="gt-lineform-btn" type="button"><span
                                            class="lnr lnr-magnifier"></span></button>

                                </form>

                            </div> --}}

                            <!-- - - - - - - - - - - - - - End of Searchform - - - - - - - - - - - - - - - - -->

                            <!-- - - - - - - - - - - - - - Shopping Cart - - - - - - - - - - - - - - - - -->

                            <div class="gt-sc-widget">

                                <button class="gt-sc-invoker gt-dropdown-invoker"><span class="lnr lnr-cart"
                                        data-amount="2"></span></button>

                                <div class="gt-shopping-cart gt-dropdown">

                                    <div class="gt-products-holder">

                                        <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

                                        <div class="gt-col">

                                            <div class="gt-product">

                                                <button class="gt-close"></button>

                                                <a href="#" class="gt-product-image">

                                                    <img src="images/product_thumb_1.jpg" alt="">

                                                </a>

                                                <div class="gt-product-description">

                                                    <a href="#" class="gt-product-name navA">Fred Perry Polo Shirt<br>with
                                                        Shoulder</a>

                                                    <span class="gt-product-price"><span
                                                            class="gt-amount">1</span>$425.99</span>

                                                </div>
                                                <!--/ .product-info -->

                                            </div>

                                        </div>

                                        <!-- - - - - - - - - - - - - - End of Product - - - - - - - - - - - - - - - - -->

                                        <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

                                        <div class="gt-col">

                                            <div class="gt-product">

                                                <button class="gt-close"></button>

                                                <a href="#" class="gt-product-image">

                                                    <img src="images/product_thumb_2.jpg" alt="">

                                                </a>

                                                <div class="gt-product-description">

                                                    <a href="#" class="gt-product-name navA">Fred Perry Polo Shirt<br>with
                                                        Shoulder</a>

                                                    <span class="gt-product-price"><span
                                                            class="gt-amount">1</span>$425.99</span>

                                                </div>
                                                <!--/ .product-info -->

                                            </div>

                                        </div>

                                        <!-- - - - - - - - - - - - - - End of Product - - - - - - - - - - - - - - - - -->

                                    </div>
                                    <!--/ .gt-products-holder -->

                                    <div class="gt-sc-footer">

                                        <div class="gt-subtotal">Subtotal: <span class="gt-total-price">$1425.99</span>
                                        </div>

                                        <ul class="gt-vr-btns-set">

                                            <li><a href="#" class="gt-btn-3 gt-reverse navA">View Cart</a></li>
                                            <li><a href="#" class="gt-btn-3 navA">Checkout</a></li>

                                        </ul>
                                        <!--/ .gt-vr-btns-set -->

                                    </div>

                                </div>
                                <!--/ .gt-shopping-cart -->

                            </div>

                            <!-- - - - - - - - - - - - - - End of Shopping Cart - - - - - - - - - - - - - - - - -->

                        </div>
                        <!--/ .gt-h-elements -->

                    </div>
                    <!--/ .align-right -->

                </div>

            </div>
            <!--/ .gt-t-row -->

        </div>

        <!-- - - - - - - - - - - - - - End of Header Section - - - - - - - - - - - - - - - - -->

    </header>

    <!-- - - - - - - - - - - - - - End of Header - - - - - - - - - - - - - - - - -->

</div>

<!-- - - - - - - - - - - - - - End of Header Wrapper - - - - - - - - - - - - - - - - -->