<!-- - - - - - - - - - - - - - Project - - - - - - - - - - - - - - - - -->

									<div class="gt-col photography">

										<div class="gt-project">

											<!-- - - - - - - - - - - - - - Project Image - - - - - - - - - - - - - - - - -->

											<div class="gt-project-image">

												<img src="images/portfolio_img_7.jpg" alt="">

												<a href="portfolio_single.html" class="gt-project-link"></a>

											</div>

											<!-- - - - - - - - - - - - - - End of Project Image - - - - - - - - - - - - - - - - -->

											<!-- - - - - - - - - - - - - - Project Description - - - - - - - - - - - - - - - - -->

											<div class="gt-project-description">

												<div class="gt-description-inner">

													<h6 class="gt-project-title"><a href="portfolio_single.html">USA Bulls</a></h6>

													<ul class="gt-project-cats">
														<li><a href="#">Photography</a></li>
													</ul>

												</div><!--/ .gt-description-inner -->

											</div>

											<!-- - - - - - - - - - - - - - End of Project Description - - - - - - - - - - - - - - - - -->

										</div>

									</div>