
			<!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

			<div class="gt-breadcrumbs-wrap" data-bg="images/breadcrumbs_img_1.jpg">

				<h1 class="gt-page-title">In Kenya</h1>

				<ul class="gt-breadcrumbs">

					<li><a href="index.html">Home</a></li>
					<li>Kenya, Eldama Ravine and Kamonong Community</li>

				</ul>

			</div>

			<!-- - - - - - - - - - - - - - End of Breadcrumbs - - - - - - - - - - - - - - - - -->

			<!-- - - - - - - - - - - - - - Page Content - - - - - - - - - - - - - - - - -->

			<div class="gt-page-content-wrap gt-no-sidebar">

				<div class="container">

					<div class="row">

						<div class="col-xs-12">

							<div class="gt-content-element">

								<h2>Kenya, Eldama Ravine and Kamonong Community</h2>

								<!-- - - - - - - - - - - - - - Tour Sections Style 1 - - - - - - - - - - - - - - - - -->

								<div class="gt-tour-sections-holder gt-type-1">

									<!-- - - - - - - - - - - - - - Tour Sections Navigation - - - - - - - - - - - - - - - - -->

									<nav class="gt-tabs-nav-wrap">

										<ul class="gt-tabs-nav">

											<li><a href="#tour-section-1"><span class="lnr lnr-earth"></span>Kenya</a></li>
											<li><a href="#tour-section-2"><span class="lnr lnr-bullhorn"></span>Sweet roll sweet donut dragée jelly beans topping sugar plum dragée caramels.</a></li>
											<li><a href="#tour-section-3"><span class="lnr lnr-layers"></span>Marzipan cookie sugar plum toffee halvah pie liquorice apple pie.</a></li>
											<li><a href="#tour-section-4"><span class="lnr lnr-calendar-full"></span>Liquorice gingerbread topping pastry halvah tart.</a></li>

										</ul>

									</nav>

									<!-- - - - - - - - - - - - - - End of Tour Sections Navigation - - - - - - - - - - - - - - - - -->

									<!-- - - - - - - - - - - - - - Tour Sections Container - - - - - - - - - - - - - - - - -->

									<div class="gt-tabs-container">

										<!-- - - - - - - - - - - - - - Tour Section - - - - - - - - - - - - - - - - -->

										<div id="tour-section-1" class="gt-tab">

											{{!-- <img src="images/macbook.png" alt=""> --}}
                                            <div id="mapid" style="height:371px;"></div>

<script src="/js/leaflet.js"></script>

										</div>

										<!-- - - - - - - - - - - - - - End of Tour Section - - - - - - - - - - - - - - - - -->

										<!-- - - - - - - - - - - - - - Tour Section - - - - - - - - - - - - - - - - -->

										<div id="tour-section-2" class="gt-tab">

											<p>Brownie cheesecake donut chocolate bar marshmallow caramels marzipan icing. Sesame snaps gummi bears bear claw dragée icing. Tart sugar plum halvah. Topping croissant tart. </p>

											<p>Ice cream jelly carrot cake ice cream tart lollipop. Chocolate oat cake donut chocolate chocolate cake. Icing sweet roll ice cream apple pie. Gummies carrot cake donut jujubes biscuit marzipan cheesecake macaroon muffin. Sweet gummies toffee caramels cookie halvah. Dessert marzipan macaroon cookie chocolate cake croissant. </p>

											<p>Brownie cheesecake donut chocolate bar marshmallow caramels marzipan icing. Sesame snaps gummi bears bear claw dragée icing. Tart sugar plum halvah. Topping croissant tart. </p>

										</div>

										<!-- - - - - - - - - - - - - - End of Tour Section - - - - - - - - - - - - - - - - -->

										<!-- - - - - - - - - - - - - - Tour Section - - - - - - - - - - - - - - - - -->

										<div id="tour-section-3" class="gt-tab">

											<img src="images/macbook.png" alt="">

										</div>

										<!-- - - - - - - - - - - - - - End of Tour Section - - - - - - - - - - - - - - - - -->

										<!-- - - - - - - - - - - - - - Tour Section - - - - - - - - - - - - - - - - -->

										<div id="tour-section-4" class="gt-tab">

											<p>Brownie cheesecake donut chocolate bar marshmallow caramels marzipan icing. Sesame snaps gummi bears bear claw dragée icing. Tart sugar plum halvah. Topping croissant tart. </p>

											<p>Ice cream jelly carrot cake ice cream tart lollipop. Chocolate oat cake donut chocolate chocolate cake. Icing sweet roll ice cream apple pie. Gummies carrot cake donut jujubes biscuit marzipan cheesecake macaroon muffin. Sweet gummies toffee caramels cookie halvah. Dessert marzipan macaroon cookie chocolate cake croissant. </p>

											<p>Brownie cheesecake donut chocolate bar marshmallow caramels marzipan icing. Sesame snaps gummi bears bear claw dragée icing. Tart sugar plum halvah. Topping croissant tart. </p>

										</div>

										<!-- - - - - - - - - - - - - - End of Tour Section - - - - - - - - - - - - - - - - -->

									</div>

									<!-- - - - - - - - - - - - - - End of Tour Sections Container - - - - - - - - - - - - - - - - -->

								</div>

								<!-- - - - - - - - - - - - - - End of Tour Sections Style 1 - - - - - - - - - - - - - - - - -->

							</div><!--/ .gt-content-element -->

							<di

						</div>

					</div><!--/ .row -->

				</div><!--/ .container -->

			</div>

			<!-- - - - - - - - - - - - - - End of Page Content - - - - - - - - - - - - - - - - -->
