{{> main/breadcrumb currentTitle=this.title}}

<!-- - - - - - - - - - - - - - Page Content - - - - - - - - - - - - - - - - -->

<div class="gt-page-content-wrap gt-no-sidebar">

	<div class="container">

		<div class="row">

			<div class="col-xs-12">

				<div class="gt-content-element">

					<h3>Current Projects</h3>

					<!-- - - - - - - - - - - - - - Carousel Style 4 - - - - - - - - - - - - - - - - -->

					<div class="projectsCarousel owl-carousel owl-large-nav gt-entries-holder gt-type-1 gt-cols-3">

						{{#each currentProjects}}
						{{> inKenya/project-slide }}
						{{/each}}

					</div>

					<!-- - - - - - - - - - - - - - End of Carousel Style 4 - - - - - - - - - - - - - - - - -->

				</div>
				<!--/ .gt-content-element -->


				<div class="gt-content-element">

					<h3>Completed Projects</h3>

					<!-- - - - - - - - - - - - - - Carousel Style 4 - - - - - - - - - - - - - - - - -->

					<div class="owl-carousel owl-large-nav gt-entries-holder gt-type-1 gt-cols-3">

						{{#each completedProjects}}
						{{> inKenya/project-slide }}
						{{/each}}

					</div>

					<!-- - - - - - - - - - - - - - End of Carousel Style 4 - - - - - - - - - - - - - - - - -->

				</div>
				<!--/ .gt-content-element -->

			</div>
			<!--/ .col -->

		</div>
		<!--/ .row -->

	</div>
	<!--/ .container -->

</div>

<!-- - - - - - - - - - - - - - End of Page Content - - - - - - - - - - - - - - - - -->