<!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

<div class="gt-breadcrumbs-wrap" data-bg="images/breadcrumbs_img_3.jpg">

    <h1 class="gt-page-title">Post-High School Sponsorship</h1>

    <ul class="gt-breadcrumbs">

        <li><a href="index.html">Home</a></li>
        <li>Post-High School Sponsorship</li>

    </ul>

</div>

<!-- - - - - - - - - - - - - - End of Breadcrumbs - - - - - - - - - - - - - - - - -->

<!-- - - - - - - - - - - - - - Page Content - - - - - - - - - - - - - - - - -->

<div class="gt-page-content-wrap gt-no-sidebar">

    <div class="container">

        <div class="row">

            <div class="col-xs-12">

                <!-- - - - - - - - - - - - - - Align by center - - - - - - - - - - - - - - - - -->

                <div class="gt-content-element">

                    <div class="aligncenter">
                        <img src="images/content_image_2.jpg" alt="">
                    </div>

                    <p>The Higher Education Sponsorship program benefits those members of the <a
                            href="http://elmabarnettchildrenscentre.org/" target="_blank" rel="noopener noreferrer">Elma
                            Barnett Children’s
                            Centre Kamonong</a> (EBCCK) family who are now over the age of 18. These students no longer
                        reside
                        at EBCCK, but are in need of additional education or training in order to secure a job which
                        will support them as an adult. At this point in their life they are facing the cost of any
                        post-secondary education (e.g. trade schools, junior college, and university level), plus their
                        living expenses such as housing fees, food, clothing and any other school requirements.</p>

                </div>
                <!--/ .gt-content-element -->

                <!-- - - - - - - - - - - - - - End of Align by center - - - - - - - - - - - - - - - - -->

                <!-- - - - - - - - - - - - - - Align by left - - - - - - - - - - - - - - - - -->

                <div class="gt-content-element">

                    <img src="images/content_image_3.jpg" class="alignleft" alt="">

                    <p>Walindwa fills this gap with the Higher Education Sponsorship program. Students must have a
                        proven record of good academic standing, strong ethics, and be well behaved in order to be
                        included in the pool of candidates. The candidates are interviewed and approved by the EBCCK
                        Board of Directors, before being presented to Walindwa for consideration of a scholarship. Costs
                        range from $1250 to $3000 per year, depending upon the education program in which the student is
                        enrolled.</p>


                </div>
                <!--/ .gt-content-element -->

                <!-- - - - - - - - - - - - - - End of Align by left - - - - - - - - - - - - - - - - -->


<div class="gt-content-element">

                    <p><a href="http://elmabarnettchildrenscentre.org/category/higher-education-students/"
                            target="_blank" rel="noopener noreferrer">Click Here</a> to view a list of students who are
                        in need of sponsorship.</p>

                </div>
                <!--/ .gt-content-element -->

                    
                <div class="gt-content-element text-center">
                    <div class="container">
                        <div class="row">
                            <div class="aligncenter">
                                <a href="https://admin.moreleft.com/uploads/WalindwaChildSponsorshipApplication-2016-02-26_677bb24547.pdf" class="gt-btn">Download a Sponsorship Application Form</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ .col -->

        </div>
        <!--/ .row -->

    </div>
    <!--/ .container -->

</div>

<!-- - - - - - - - - - - - - - End of Page Content - - - - - - - - - - - - - - - - -->