
			<!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

			<div class="gt-breadcrumbs-wrap" data-bg="images/breadcrumbs_img_3.jpg">

				<h1 class="gt-page-title">Services</h1>

				<ul class="gt-breadcrumbs">

					<li><a href="index.html">Home</a></li>
					<li>Services</li>

				</ul>

			</div>

			<!-- - - - - - - - - - - - - - End of Breadcrumbs - - - - - - - - - - - - - - - - -->

			<!-- - - - - - - - - - - - - - Page Content - - - - - - - - - - - - - - - - -->

			<div class="gt-page-content-wrap gt-no-sidebar">

				<div class="container">

					<div class="row">

						<div class="col-xs-12">

							<!-- - - - - - - - - - - - - - Services Holder - - - - - - - - - - - - - - - - -->

							<div class="gt-services-holder">

								<!-- - - - - - - - - - - - - - Service - - - - - - - - - - - - - - - - -->

								<section class="gt-service">

									<img class="gt-service-image" src="images/service_img_1.jpg" alt="">

									<h2 class="gt-service-title">Prototyping</h2>

									<p>Liquorice sweet roll caramels brownie pastry bonbon sesame snaps. Candy jelly-o tootsie roll carrot cake. Carrot cake apple pie candy canes chupa chups chocolate cake chocolate chupa chups carrot cake.</p>

								</section>

								<!-- - - - - - - - - - - - - - End of Service - - - - - - - - - - - - - - - - -->

								<!-- - - - - - - - - - - - - - Service - - - - - - - - - - - - - - - - -->

								<section class="gt-service">

									<img class="gt-service-image" src="images/service_img_2.jpg" alt="">

									<h2 class="gt-service-title">Motion design</h2>

									<p>Tart toffee fruitcake oat cake danish. Gingerbread tootsie roll chocolate bar bear claw tart danish lollipop. Biscuit chocolate cake tootsie roll powder cupcake dessert. Cotton candy dragée jujubes. </p>

								</section>

								<!-- - - - - - - - - - - - - - End of Service - - - - - - - - - - - - - - - - -->

								<!-- - - - - - - - - - - - - - Service - - - - - - - - - - - - - - - - -->

								<section class="gt-service">

									<img class="gt-service-image" src="images/service_img_3.jpg" alt="">

									<h2 class="gt-service-title">Web design</h2>

									<p>Dessert cookie icing toffee macaroon. Dragée powder jelly beans pudding. Candy canes bonbon gummies bonbon chocolate cake. </p>

								</section>

								<!-- - - - - - - - - - - - - - End of Service - - - - - - - - - - - - - - - - -->

								<!-- - - - - - - - - - - - - - Service - - - - - - - - - - - - - - - - -->

								<section class="gt-service">

									<img class="gt-service-image" src="images/service_img_4.jpg" alt="">

									<h2 class="gt-service-title">Photography</h2>

									<p>Sesame snaps biscuit oat cake dessert gingerbread chocolate bar. Cupcake croissant cupcake cotton candy lollipop gummies brownie. Jelly-o jujubes gummies lemon drops. </p>

								</section>

								<!-- - - - - - - - - - - - - - End of Service - - - - - - - - - - - - - - - - -->

							</div>

							<!-- - - - - - - - - - - - - - End of Services Holder - - - - - - - - - - - - - - - - -->

						</div><!--/ .col -->

					</div><!--/ .row -->

				</div><!--/ .container -->

			</div>

			<!-- - - - - - - - - - - - - - End of Page Content - - - - - - - - - - - - - - - - -->
