{{> main/breadcrumb breadcrumbTitle=this.title}}

<!-- - - - - - - - - - - - - - Page Content - - - - - - - - - - - - - - - - -->

<div class="gt-page-content-wrap gt-no-sidebar">

	<div class="container">

		<div class="row">

			<div class="col-xs-12">

				<!-- - - - - - - - - - - - - - Align by center - - - - - - - - - - - - - - - - -->

				<div class="gt-content-element">

					<div class="aligncenter">
						<img src="images/content_image_2.jpg" alt="">
					</div>

					<p>The Child Sponsorship program allows a donor to experience a personal connection with a child who
						is in grades 1-12, while contributing to the overall mission of <a
							href="http://elmabarnettchildrenscentre.org/" target="_blank" rel="noopener noreferrer">Elma
							Barnett Children’s Centre Kamonong (EBCCK)</a>. The sponsor, who may be an individual,
						family, church, group, or business, selects a child to sponsor by reviewing the brief
						biographies listed on the EBCCK website.</p>

					<p>The expenses incurred with this program include costs for materials, curriculum, and school
						supplies, plus salary for two teachers at the primary level. Donations in support of the
						sponsored child are made to Walindwa, which disburses the money to the general fund of Elma
						Barnett to cover costs including the ACE program, student uniforms and shoes, housing, food, and
						health care.</p>

					<p>EBCCK offers the option of establishing a “pen pal” relationship between the sponsor and the
						child so the sponsor can come to know the child and share in his/her progress. Updates will be
						provided via the website in the form of photos, letters and notes. Our goal is to create a
						transforming experience for not just the child but for the sponsor as well.</p>

				</div>
				<!--/ .gt-content-element -->

				<!-- - - - - - - - - - - - - - End of Align by center - - - - - - - - - - - - - - - - -->

				<!-- - - - - - - - - - - - - - Align by left - - - - - - - - - - - - - - - - -->

				<div class="gt-content-element">

					<img src="images/content_image_3.jpg" class="alignleft" alt="">

					<h3>Primary students</h3>

					<p>Primary students are educated on site at EBCCK through the <a
							href="http://www.aceministries.com/">Accelerated Christian Education</a> (ACE)
						program, which is designed to prepare children for the world today and give them the academic
						and spiritual tools necessary to achieve their God-given potential.</p>

					<p>Sponsorship = $500 or $1000 per year</p>

					<p><a
							href="http://elmabarnettchildrenscentre.org/sponsorships/primary-students-in-need-of-a-sponsor/">Click
							Here</a> to view a list of primary students who are in need of a sponsor.</p>
					</p>

				</div>
				<!--/ .gt-content-element -->

				<!-- - - - - - - - - - - - - - End of Align by left - - - - - - - - - - - - - - - - -->


				<!-- - - - - - - - - - - - - - Align by right - - - - - - - - - - - - - - - - -->

				<div class="gt-content-element">

					<img src="images/content_image_3.jpg" class="alignright" alt="">

					<h3>Secondary students</h3>

					<p>Secondary students in the past attended either a school in the local community or a boarding
						school. In 2014 EBCCK began construction of an on-site high school campus
						consisting of classrooms, dormitories, and a kitchen. Elma Kamonong High School currently
						enrolls students from EBCCK and the local community in Forms I-III, equivalent to a U.S. high
						school freshman – juniors.</p>

					<p>Sponsorship = $1000 per year</p>

					<p><a
							href="http://elmabarnettchildrenscentre.org/sponsorships/secondary-students-in-need-of-sponsor/">Click
							Here</a> to view a list of secondary students who are in need of sponsorship.</p>

				</div>
				<!--/ .gt-content-element -->

				<!-- - - - - - - - - - - - - - End of Align by right - - - - - - - - - - - - - - - - -->
				<div class="gt-content-element text-center">
					<div class="container">
						<div class="row">
							<div class="aligncenter">
								<a href="https://admin.moreleft.com/uploads/WalindwaChildSponsorshipApplication-2016-02-26_677bb24547.pdf" class="gt-btn navA">Download a Sponsorship Application Form</a>

							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ .col -->

		</div>
		<!--/ .row -->

	</div>
	<!--/ .container -->

</div>

<!-- - - - - - - - - - - - - - End of Page Content - - - - - - - - - - - - - - - - -->